[2018-08-16 16:56] #294 closed

[2018-08-16 16:58] sebavan commented on #296
Would be nice.

The thing is with PBR at least it should be pretty close (not enough I understand :-) ) as the material definition is "pretty-ish" "standar-ish".

Would you be able to create and make a PR for it ? I can definitely help with the shader we are using.

[2018-08-16 16:59] sebavan commented on #296
I will check with our in house artists if this would be possible cause I really like the idea :-)

[2018-08-16 20:00] echadwick-wayfair commented on #296
Some implementation problems to factor in, see these 3ds Max Idea Board topics:

https://forums.autodesk.com/t5/3ds-max-ideas/pbr-viewport-shader-environment/idi-p/6806116

https://forums.autodesk.com/t5/3ds-max-ideas/native-pbr-viewport/idi-p/8071453

[2018-08-16 20:42] echadwick-wayfair commented on #296
Hey, got that to work, mostly!

100% roughness is causing a different lighting effect on the color chart than in BabylonJS. But it's pretty darn close.

![image](https://user-images.githubusercontent.com/40177036/44233934-3ce8c980-a173-11e8-8bc9-be0b0256d9d2.png)

![image](https://user-images.githubusercontent.com/40177036/44233607-55a4af80-a172-11e8-9ae3-372ef51e782c.png)

[2018-08-16 20:52] echadwick-wayfair commented on #296
Better with a direct light.

![image](https://user-images.githubusercontent.com/40177036/44234513-c1881780-a174-11e8-8174-00ac23a4b533.png)

[2018-08-17 04:15] tkazik opened #297 "[max][gltf][feature] support for draco compression"
hi folks

just curious whether there are some plans to support draco compression for gltf files, see:

https://www.khronos.org/news/press/khronos-announces-gltf-geometry-compression-extension-google-draco

would be very interesting!

[2018-08-17 07:26] noalak commented on #288
Can you share a new repro scene for the access issue ?
Was the .jpg being edited in another software like substance or photoshop ?

About tangent basis in Babylon i will let @bghgary answer :)
He's quite busy right now with the SIGGRAPH though. For a quick answer, you may have a look at this [thread](https://github.com/KhronosGroup/glTF/issues/1252).

[2018-08-17 10:11] sebavan commented on #297
Hello,

It is already supported in the BabylonJS loader. Do you mean having the ability to compress straight from the exporter ?

[2018-08-17 21:18] bghgary commented on #288
The tangent space for glTF is MikkTSpace if they are not specified (see second implementation note of https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#meshes). BabylonJS does not currently do this properly, but in a lot of cases, it isn't really noticeable. There is an [issue](https://github.com/BabylonJS/Babylon.js/issues/3345) to investigate doing this properly.

That said, @no

[2018-08-17 21:49] echadwick-wayfair commented on #288
Ok thank you both. I will create a new thread with a repro case.

[2018-08-18 01:46] echadwick-wayfair commented on #291
Thanks sebavan, great news. Fairly minor appearance-wise to some of my cohort, but speaking as a visual artist it makes a pronounced difference to me!

[2018-08-18 01:57] echadwick-wayfair commented on #296
I wonder if Max2Babylon will let me use the DirectX Shader material as a (pass-thru) parent to the Physical Material?

It would help to be able to keep it there during export, for iterations sake.

[2018-08-18 13:06] sebavan commented on #297
Pinging @noalak to check feasibility ?

[2018-08-18 13:30] sebavan commented on #291
@echadwick-wayfair with the latest nightly, you can now define on a per material basis the impact of AO on analytical lights:

Or you can define the default  value for your app by overriding the default  value on the pbr material:
BABYLON.PBRMaterial.DEFAULT_AO_ON_ANALYTICAL_LIGHTS = 0;

You should run this code before the creation of your pbr materials or before loading your assets as they will c

[2018-08-18 13:31] #291 closed

[2018-08-20 16:09] noalak commented on #292
Hi johanos,

Exporter [Max2Babylon-1.2.26.zip](https://github.com/BabylonJS/Exporters/files/2303071/Max2Babylon-1.2.26.zip) adds the KHR_materials_unlit extension to materials with the Unlit attribute checked.

[This MaxScript](https://github.com/BabylonJS/Exporters/files/2303068/BabylonMaterialAttributes.zip) add the Unlit attribute to all materials assigned in the scene (default unchecked). This

[2018-08-20 17:34] sebavan commented on #292
Thx, the PR has been merged i ll close the issue after getting the feedback :-)

[2018-08-21 14:10] sebavan commented on #292
Closing for now, will create new ones for follow up if needed.

[2018-08-21 14:10] #292 closed

[2018-08-21 14:12] sebavan commented on #288
No problem closing this one then

[2018-08-21 14:12] #288 closed

[2018-08-21 14:13] sebavan commented on #289
@keyoss Is it now working for you ?

[2018-08-21 14:15] sebavan commented on #269
@bghgary for follow up and chosing the curve :-)

[2018-08-21 22:46] PatrickRyanMS opened #300 "[Max] transparency checkbox in material not respected"
Unchecking Transparency in the material options does not export material with an OPAQUE blendmode. Materials exported no matter if there is a transparency map linked to the material input or if the transparency checkbox is checked or unchecked will write out as blendmode = "BLEND"

[2018-08-21 22:54] sebavan commented on #300
Adding @noalak and @Jaskar for follow up, Thx guyz.

[2018-08-22 07:18] noalak commented on #300
Hi Patrick!

Do you have a repro scene ? Couldn't reproduce with simple tests.

Except a bug, the only reason for a material to be in BLEND is that it contains alpha somehow:
- has an opacity / transparency weight map or opacity / transparency value
- has a diffuse color / base color map with 'Alpha Source' set to 'Image Alpha'

(first attribute is the Standard material one **/** the second is the

[2018-08-22 08:40] rlouvat commented on #296
Hi,
Currently the DirectX Shader material is not supported by the 3DS Max exporter. So it is ignored.

But I think the exporter could export the material stored in `RenderMaterial` attribut in stead of ignoring the DirectX Shader. So in your case, the Physical Material would be exported.

[2018-08-22 11:41] echadwick-wayfair commented on #296
I like that idea.

Another one we are considering is the Shell Material, since it has a Render input and a Viewport input. Our current thinking is we might recommend a model contain both a V-Ray material for offline rendering, and a Physical Material for glTF export. So the root would be the Shell, and I guess in the Viewport input we'd have a DirectX, with the Physical plugged into that.

We'd pr

[2018-08-22 15:45] deltakosh commented on #290
We should just consider instances like regular meshes (and then update the loader)
So IsPickable, collisions, etc.. should also be on the instances

[2018-08-22 15:46] deltakosh commented on #283
Any news?

[2018-08-22 15:47] deltakosh commented on #279
Closing for now as no response

[2018-08-22 15:47] #279 closed

[2018-08-22 15:48] deltakosh commented on #255
Closing for now as no response

[2018-08-22 15:48] #255 closed

[2018-08-22 17:05] deltakosh commented on #296
I think we should also support Arnold material in 3dsmax
Pinging @patrickryanms for a sample scene

[2018-08-22 17:05] echadwick-wayfair opened #301 "Normal map causes export error log"
Max2Babylon-1.2.25

`Exporting texture <path & name> failed: System.IO.IOException: The process cannot access the file '<path & name>' because it is being used by ano`
<truncated>
![image](https://user-images.githubusercontent.com/40177036/44478255-1c08f400-a60b-11e8-9c2f-75b28cf30e92.png)

[NormalmapExportError_example.zip](https://github.com/BabylonJS/Exporters/files/2311324/NormalmapExportError

[2018-08-22 17:06] deltakosh commented on #301
Is this file opened by another application (like photoshop?)

[2018-08-22 17:38] echadwick-wayfair commented on #301
No other processes open.

I've tried a few variations of filepaths and filenames. Seems to occur only if the normal map is located in the same folder where the exporter is saving the new GLB.

d:\n\n.jpg + d:\n\test.glb = Causes the error.
d:\n\n.jpg + D:\dashes-in-path\CamelCase\test.glb = No error.

[2018-08-22 19:02] Nodragem commented on #279
... that's odd, I was so sure I posted here to say that the issue was resolved.

It was the Armature's location in Object Mode that I needed to apply (so it becomes [0,0,0]).

Interestingly, there exists already an error message asking to apply all transformations, but it was not thrown in this particular case.

Hence, I would suggest that this case also rises the error message asking to apply all

[2018-08-22 19:41] deltakosh commented on #279
Ok wonderful then :)
Good point for the warning

[2018-08-23 07:27] rlouvat commented on #283
I didn't find a way to convert the the strech type or the strech factor in other bone properties. Currently without animation it works.

[2018-08-23 15:44] deltakosh commented on #180
Closing for now as we cannot reproduce and it seems linked to custom scripts

[2018-08-23 15:44] #180 closed

[2018-08-23 15:44] #301 closed

[2018-08-23 15:50] deltakosh commented on #283
Closing for now as this seems not easy to export in gltf so far

[2018-08-23 15:50] #283 closed

[2018-08-23 15:51] #297 closed

[2018-08-23 16:01] deltakosh commented on #300
Pinging @PatrickRyanMS

[2018-08-23 19:10] PatrickRyanMS commented on #300
Sent you the Max file. Let me know if you have questions.

[2018-08-23 20:03] echadwick-wayfair commented on #296
Testing the shader today.

I'm using the FlightHelmet model, it has great material definition.
https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/FlightHelmet

Some inconsistent results.
1. Looks like we need to add alpha blending to the shader. Lenses on the helmet aren’t transparent.
2. Lighting is a bit difficult to control. Shader wants three lights… if I feed it only one it pu

[2018-08-23 21:13] tkazik commented on #297
awesome, thx!

[2018-08-24 09:13] rlouvat commented on #296
Hi @echadwick-wayfair

Regarding the DirectX shaders, do you use other parameters than the `RenderMaterial` ?
![image](https://user-images.githubusercontent.com/35570412/44576314-8ac28a80-a78e-11e8-8c3c-c85507d8f755.png)

[2018-08-24 12:44] echadwick-wayfair commented on #296
I think we would prefer support for three materials:

1. Physical Material for Max2Babylon export.
2. DirectX Shader material for 3ds Max live viewport preview.
3. An offline material for non-realtime rendering. This could be for Arnold, VRay, Art, Mental Ray, whichever 3ds Max renderer the content creator wishes to use.

The DirectX Shader material is only for live viewport rendering. It's not a

[2018-08-24 15:58] echadwick-wayfair commented on #296
For example, all three materials in one. This is what we would prefer to use, if it was possible.
![image](https://user-images.githubusercontent.com/40177036/44594725-0cb5b200-a795-11e8-97e0-5d6894c49158.png)

[2018-08-24 21:49] echadwick-wayfair commented on #296
Getting closer.

Shader already has a parameter for Use_Albedo_Alpha_as_Transparency, you just have to open the shader in ShaderFX to expose it. I'd like to add it as a Boolean to the material interface.

The cubemap is not as bright in the shader as it is in BabylonJS. I do have to disable gamma in 3ds Max to get proper lighting, so that's probably it.

There are also color differences. Need to l

[2018-08-25 05:26] loki1531 commented on #265
@deltakosh , it's possible I've got the thing and there is nothing to do with the Blender exporter :)

If I modify a little you code with `Tags.AddTagsTo`:
[code]

Console output I'll have:
[code]

There is no **tags** object inside of **parsedInstance**, and I believe this is OK - there is no need to copy the same text inside of the exported **\*.babylon** file to the all instances, it's enough t

[2018-08-26 00:44] mreimer01 opened #304 "Unity Exporter - IE11 error 'endsWith'"
Unity Exporter error received in IE11 with default scene (camera and direct light).

SCRIPT438: Object doesn't support property or method 'endsWith'
index.html (144,9)

![image](https://user-images.githubusercontent.com/23662406/44623831-a9687480-a8a7-11e8-9abf-160cb21cb2eb.png)

[2018-08-26 02:48] andy-hanson opened #305 "[Blender] ERROR: 'Bone' object has no attribute 'restHead', exporting bone not in current layer"
Simple to reproduce:

* Create a new scene in blender.
* Optional: Delete all default objects, reproduces with just the bone.
* `Shift-A` to add Armature -> Single bone.
* Press `2` to navigate to layer 2.
* `File -> Export -> Babylon.js ver 5.6.4`. Pick any file name.

The log file shows:

[code]

[2018-08-27 10:04] noalak commented on #300
Hi Patrick,

I have received the files. The 2019 version shouldn't be the issue as it is also happening on 2018.

The base color map of the lens material has an Alpha Source set to 'Image Alpha'.
In this case,

- if you provide a Transparency **Weight** map, the alpha channel of the base color map is ignored and the transparency map is used instead.
- otherwise, the alpha channel of the base color

[2018-08-27 13:45] deltakosh commented on #304
Pinging @MackeyK24

[2018-08-27 18:16] loki1531 commented on #265
Done: https://github.com/BabylonJS/Babylon.js/pull/5011

[2018-08-31 16:40] johanos opened #311 "[3dsmax] Exporter not respecting levels set for maps"
Hey guys. is it intended that the exporter doesn't take into account map levels for things like a bump texture..

I've attached a max file that shows what i mean. the bump map from the exporter gets put at an intensity of 100% instead of 10% so then it becomes way to strong.

![image](https://user-images.githubusercontent.com/6535806/44924415-3765b480-ad19-11e8-8bcf-5ebea35c2fe5.png)

this is what

[2018-08-31 19:48] johanos commented on #311
Looking at this more it might be because it is a grey scale bump map as well as the level. It might be beneficial to have this tool try to make a normal map from bump maps kind of like in this article. In addition to respecting the levels

http://flexmonkey.blogspot.com/2016/04/creating-procedural-normal-maps-for.html

[2018-08-31 19:59] deltakosh commented on #311
Well the goal of the exporter is not to work on textures on behalf of the artist. The bump map must be a normal map.
The level should be exported though

[2018-09-03 07:04] noalak commented on #311
Map level is exported in babylon but not in gltf because such attribute doesn't exist in gltf specs.
This means that textures must be treated by the exporter when the level is not 1.

Pros:
- Automatic treatment, nothing to do for the graphist

Cons:
- The treatment would be done every export
- The compression/format would be dictated by the exporter

@deltakosh Your thoughts ?

[2018-09-03 09:41] Selmar commented on #311
@noalak Could this be similar enough to the `normalTextureInfo.scale` property?

[2018-09-03 15:40] deltakosh commented on #311
I'm not for updating the textures because of your cons list actually
But as Selmar mentioned perhaps we can map these levels to some factor values?

[2018-09-04 22:29] PatrickRyanMS opened #313 "Maya morph target appears to have inverted Z on export"
# Bug
When exporting morph target animation, vertex position on the Z axis seems to be inverse of what is intended.

![morphtargetbug](https://user-images.githubusercontent.com/31326855/45060978-402af300-b057-11e8-9873-bf8adadbd223.png)

[2018-09-05 07:26] noalak commented on #300
@PatrickRyanMS bump

[2018-09-05 07:29] #289 closed

[2018-09-06 15:00] deltakosh commented on #304
Up @MackeyK24

[2018-09-06 15:02] #7 closed

[2018-09-06 15:06] #181 closed

[2018-09-06 15:13] deltakosh commented on #311
@kcoley can you have a look wehn you have a chance?

[2018-09-06 16:54] kcoley commented on #311
Sure thing, I will look into @Selmar 's suggestion

[2018-09-06 18:45] PatrickRyanMS commented on #300
@noalak I apologize for the delay in swinging back to this. The connection from the base color into transparency color was my mistake. I simply connected to the wrong input on that one, but even correcting the wire does not solve what I am seeing.

Here's my path to Max:
* The asset was created in Maya, but rather than use Send To Max, I used the FBX to recreate the asset in Max
* Import the FBX
*

[2018-09-06 21:05] MackeyK24 commented on #304
Next update will have polyfill for startWith and endsWitj

[2018-09-06 23:45] kcoley commented on #311
@johanos checking out the scene, it looks like you are not using a tangent space normal map which will cause rendering problems when exporting to glTF since it only sees data in one channel where it is expecting normal components in R, G and B, which you alluded to.  Converting to a tangent-space normal map solve the initial problem.  There is a blog post on the Khronos blog which goes over the gl

[2018-09-07 00:13] kcoley commented on #311
@johanos I also noticed that you are not using the physical material, which already supports using the level for the bump map according to the docs: https://doc.babylonjs.com/resources/3dsmax_to_gltf

Can you try switching over to using a physical material and see if the scale is applied as expected?

[2018-09-07 00:38] kcoley commented on #305
Hi @andy-hanson .  Sorry for the delay, but I will look into this.

[2018-09-07 11:58] noalak commented on #300
So i reproduced the bug you have @PatrickRyanMS . In the sample file provided (FlightHelmet_Optimized_2018.max), all materials are exported with alphaMode=BLEND in gltf.

The issue is that the Alpha Source attributes of the textures are not initialized correctly in 3ds max.
When assigning a texture to a material, the internal value of Alpha Source of the texture is the default one (0), correspondi

[2018-09-07 12:48] noalak commented on #197
Minor TAB feature could be achieved by calling 'Form.ShowDialog' method instead of 'Form.Show' resulting animation group window to be modal (can't do other things while opened).

[2018-09-07 12:53] Selmar commented on #197
It should stay the way it is, because you need to select nodes to add to your animation group(s), which requires the window to stay in front but not block interaction.

[2018-09-07 13:47] deltakosh commented on #300
As this is a bug in autodesk 3dsmax I'm not sure we should do anything about it. If we ignore the alpha source then it will become impossible to have alpha testing

[2018-09-07 14:00] noalak commented on #300
Alright, do we write a note about this issue in the 3ds max doc ?

[2018-09-07 14:45] deltakosh commented on #300
yes definitely in bold ;)

[2018-09-08 12:40] qianhuang opened #315 ""Babylon Editor Toolkit.unitypackage" only works correctly with Unity for Mac"
After imported this package in Unity under Windows, then in the menu, I choose Babylon->Scene Exporter and check the "Attach Unity Editor". Then, it always has error log "[FreeImage] library not available" when I build and preview my scene, and the scene is not correctly displayed in the browser.

But it works well when I did same things in Unity for Mac.

[2018-09-08 14:50] deltakosh commented on #315
Pinging @mackeyk24

[2018-09-08 19:18] MackeyK24 commented on #315
Under plugins... utilities folder...are the FreeImage.Net files.... make sure the freeimqge.dll assembly is configured for the platform

[2018-09-09 11:49] qianhuang commented on #315
I am using Windows 10 x64. By way of replacing the freeimage.dll under plugins/utilities with the x64 version freeimage.dll downloaded from source forge, there is no more errors.
But under Mac, when I build and preview a scene in browser, the default sky box looks the same as what I see in Unity, while under Windows I can not see the sky box when previewing the scene in browser. I check the folder

[2018-09-09 19:06] MackeyK24 commented on #315
Hmmm... I ship free image 64 bit as far as I know... I will have to check out Win 10

[2018-09-10 18:00] kcoley commented on #305
@andy-hanson looking into this, it seems like it is a bug in the Blender API, where switching the layer and checking for bones in edit mode indicates that there are no bones.  Is it possible to flag this issue to the Blender group?

[2018-09-10 18:01] johanos opened #319 "[3ds max] Newer Versions of the Exporter Throw .Net exceptions when setting scaleFactor prop"
[code]

This code snippet throws an exception when run with the most current version of the exporter. if i comment out the maxscript line that says scaleFactor = "100" it will work. else it will fail in both the GUI and Maxscript.

[2018-09-10 18:29] johanos commented on #311
I'll try that now. the glb's I end up with should all be converted to Physical materials. but maybe there's a bug in my scripts. that saved file is from a step in a maxscript pipeline.

I found that its not that hard to convert a bump map to a normal map using max's internal tools so anyone can implement a script for it.

[2018-09-11 08:03] rlouvat commented on #319
Hi,
I will have a look ;)

[2018-09-11 13:00] #319 closed

[2018-09-11 16:14] #290 closed

[2018-09-13 16:33] deltakosh commented on #313
@noalak any news on this one?

[2018-09-13 16:33] deltakosh commented on #311
Closing for now

[2018-09-13 16:33] #311 closed

[2018-09-13 16:34] #305 closed

[2018-09-13 16:35] #269 closed

[2018-09-13 16:37] deltakosh commented on #203
We now have animation group and we can only export a selected mesh. It will export mesh + animations
We do not plan to only export animations for now

[2018-09-13 16:37] #203 closed

[2018-09-13 16:39] deltakosh commented on #197
Closing for now as most of the needs are fulfilled
Please create specific issues for remaining ones if they are still needed

[2018-09-13 16:39] #197 closed

[2018-09-14 19:58] kcoley commented on #97
Hi @gentlemanjohn .  Looking at the exported scene, I believe it is because the lighting model of the standard material in 3dsMax does not match the linear falloff light attenuation used in Babylon.js.

Have you tried exporting your scene using PBR Materials?  It may match the lighting better in Babylon.js

[2018-09-17 06:56] noalak commented on #313
Last PR of @Bloadrick should fix that.

[2018-09-17 13:37] deltakosh commented on #313
Wonderful

[2018-09-17 13:37] #313 closed

[2018-09-20 04:11] jdavidlists opened #323 "Could not load file or assembly "Newtonsoft.Json, Version 9.0.0.0...""
After installing the contents of Maya2Babylon-1.2.21.zip to the plugins folder in Maya 2018, activating the plugin works fine.  But while following the excellent setup instructions, I get an error upon clicking "Export" in the plugin's "Export scene" window.

The message is quite long, but it appears right after the "Export animation groups" line.

It begins:

Exportation cancelled: Could not load

[2018-09-20 14:49] kcoley commented on #323
Hi @jdavidlists .  To verify, did you unblock the dll files from the zip directory?
<img width="377" alt="screen shot 2018-09-20 at 7 48 01 am" src="https://user-images.githubusercontent.com/3946928/45826639-b3fd0a80-bca9-11e8-989a-83f7d08cbf7a.png">

[2018-09-20 20:34] gentlemanjohn commented on #97
Hi @kcoley .  We tried exporting the scene with PBR Materials as a .gltf.  We even tried another, simpler scene involving chemistry molecules.  Didn't seem to make any difference in the preview.

[2018-09-21 05:12] jdavidlists commented on #323
Oh FFS!  I looked at that repeatedly and every time I convinced myself that it was OK because the box wasn't checked.

While I don't that think that particular bit of UI is Microsoft's finest usability moment, this problem appears to be (not surprisingly!) entirely due to operator error. :-(

Sorry for the noise!

[2018-09-21 05:12] #323 closed

[2018-09-21 08:51] Selmar opened #324 ".jpg mimetype issue"
We don't use the jpeg format, I just noticed this randomly.. in BabylonExporter.GLTFExporter.cs:
`gltfImage.mimeType = "image/" + gltfImage.FileExtension;`

FileExtension could theoretically be `jpg` or `jpeg`, but only `"image/jpeg"` is a valid `mimeType`.

In fact, the `_getValidImageFormat()` function explicitly converts the `jpeg` extension to `jpg`, so I assume this may always be wrong.

[2018-09-21 14:05] Selmar opened #325 "[Max][C#] Temporary output directory copies all files from max output directory"
The output directory `3ds Max\assemblies\2015 - 2016` contains all files from my 3dsmax directory, not just the files created by the project. It seems a bit impractical, is this on purpose?

[2018-09-21 14:29] johanos opened #326 "[3dsmax] Ambient Occlusion (Textures not on Channel 1) not exported correctly"
Hi again

I haven't tried downgrading but currently i'm on the most recent version of the exporter and i found that this specific file. will not export the ambient occlusion correctly unless i select the option merge AO map. I have done this with other models with a similar set up and its worked in the past. I make the AO map on a different channel / resolution so merging is a non option.

My hunc

[2018-09-21 14:52] echadwick-wayfair opened #327 "Max2Babylon - Lights exported as Meshes?"
Max2Babylon 1.2.40
3ds Max 2018.4

Lights are being exported as meshes, not as lights.

![2018-09-21 09_55_08-babylon js - export scene to babylon or gltf format](https://user-images.githubusercontent.com/40177036/45888547-5392c980-bd8c-11e8-80be-85bfc7d20d97.jpg)

![2018-09-21 09_57_49-babylonjs - light_and_sphere glb](https://user-images.githubusercontent.com/40177036/45888561-57bee700-bd8c-11e8

[2018-09-21 15:44] deltakosh commented on #327
They are exported as both actually (so you still have a node to see it if you want to debug)

[2018-09-21 15:44] deltakosh commented on #327
(Or they should be) adding @kcoley to check

[2018-09-21 19:36] MaximeOrlandi opened #328 "Add compatibility with Blender’s custom split normals"
This functionnality would save us graphic designers a lot of time and a lot of polys

https://en.blender.org/uploads/9/9e/Average.gif

Thank you !

[2018-09-21 20:34] WVNicolayeff commented on #167
Seems like the guy was asking was if there is a way to access Max2Babylon's export functions from Maxscript, 3ds Max's built-in scripting language. which would allow it to be used with scripted tools like other common formats.

[2018-09-21 20:56] deltakosh commented on #167
OK thanks !
For the record, we support maxscript: http://doc.babylonjs.com/resources/3dsmax#export-with-maxscript

[2018-09-21 21:01] johanos commented on #167
The original question didn’t make sense because I accidentally hit enter and posted like 3 words in an issue. But yeah this got resolved a couple of months ago

[2018-09-21 22:00] WVNicolayeff commented on #167
Awesome. Thanks!

[2018-09-21 22:46] WVNicolayeff commented on #70
Hey there. I'd really love to see automatic unit conversion for GLTF as well. Some other people on my team have also been asking me about this as well. The type-in conversion box helps a lot, though it also resets every session.

As the other guy said, the GLTF 2.0 spec wants everything standardized in terms of meters. [Linked here](https://github.com/KhronosGroup/glTF/tree/master/specification/2.

[2018-09-21 23:10] WVNicolayeff opened #329 "Max2Babylon - Copy Textures to Ouput disabled + GLB = errors"
Hey there,

Textures getting into GLB files seems to depend on the textures existing in the export folder. Not necessarily a huge issue on it's own, but it seems like it's waiting to check whether they exist until after the geometry (or some other data?) is exported.

In this case I was testing with an architecture file I pulled in from Revit, so exports were pretty slow. I'd expected that if it w

[2018-09-21 23:12] kcoley commented on #328
@MaximeOrlandi thanks for the reference gif!  I'll look into this.

[2018-09-22 14:36] deltakosh commented on #329
Good catch! We will make sure to fix that asap

[2018-09-24 17:05] kcoley commented on #326
Hi @johanos I'll take a look

[2018-09-27 01:07] kcoley commented on #329
Hi @WVNicolayeff.  I will make an update to the exporter to not write out textures to the output directory when generating a glb file.  Is this what you are looking for?

[2018-09-27 01:18] kcoley commented on #327
Hi @echadwick-wayfair .  The exporter exports the light as a mesh and a light if exporting to .babylon file.  However, if using .glb or .gltf, lights are currently not supported yet since the official glTF lights extension has not yet been ratified.  Though we plan on implemented it once the extension is ratified.

[2018-09-27 01:18] #327 closed

[2018-09-28 13:48] deltakosh commented on #329
Seems to be the same problem

[2018-09-28 22:10] kcoley commented on #329
@WVNicolayeff @DidierBeloola , I just made an update to the Max2Babylon exporter.  Exporting to glb will now only export the glb file to the output directory instead of also including the textures used to create the file.  I also changed the "copy textures to output" checkbox to "write textures" and added another checkbox, "overwrite textures", which gives you the option to overwrite the textures

[2018-09-28 22:15] kcoley commented on #97
@gentlemanjohn ah interesting.  I'll take a deeper look into this.  It may be a significant difference in how BabylonJS and 3ds Max calculate lighting, though I'll run some tests

[2018-09-28 22:40] WVNicolayeff commented on #329
Thank you! I'll try it out.

[2018-10-01 15:53] kcoley commented on #325
Hi @Selmar .  Is your 3ds Max active project set to that directory or a different location?

[2018-10-01 15:53] kcoley commented on #324
@Selmar yeah looks like a bug.  I'll work on a fix for this.

[2018-10-01 15:58] Selmar commented on #325
The 3dsmax active project directory is set to a completely different directory.

The C# project's `OutDir` (==`TargetDir`) is set to `C:\Program Files\Autodesk\3ds Max 2016\bin\assemblies\`, as is the default

the post build process simply copies all dlls instead of just the ones generated by the project:
`copy "$(TargetDir)*.dll" "$(SolutionDir)assemblies\2015 - 2016\"`

I imagine it's the same f

[2018-10-01 15:59] Selmar commented on #325
Even if you use that directory as the 3ds max plugin directory it wouldn't work well, because only the .dll files are there after this process anyway. This problem has nothing to do with 3dsmax, it's just a minor ussue with copying the output files to our shared tools folders.

[2018-10-01 16:32] kcoley commented on #325
@Selmar gotcha, thanks for the insight!  This is indeed an issue with the exporter.  I'll work on a fix for this.

[2018-10-01 17:15] kcoley commented on #325
@Selmar is your output path set to `bin\Debug` in Visual Studio solution? (Select the project, go to properties, and select the build tab to check the `Output path:` value)
![image](https://user-images.githubusercontent.com/3946928/46303681-58603600-c561-11e8-8bc5-0c5967f85898.png)

![image](https://user-images.githubusercontent.com/3946928/46303956-2a2f2600-c562-11e8-81c1-744809ca25d5.png)

When

[2018-10-01 18:44] kcoley commented on #326
Hey @johanos.  I was able to reproduce the ao issue.  I tried reproducing on a simple scene, but the AO exported correctly.  Going back to your scene, I tried deleting the multimaterial and exporting.  The AO exported correctly.  Reapplying the multimaterial also caused the AO to export correctly.  I'm not sure why this worked, but could you give this a try on your end?

[2018-10-01 21:17] kcoley commented on #324
@Selmar the code was a little confusing to follow, but it looks like the `jpg` texture gets associated with a file extension of `jpeg` in GLTFExporter.Texture.cs`:
[code]
If you hit any issues with this though feel free to reopen this issue.

[2018-10-01 21:17] #324 closed

[2018-10-01 21:47] kcoley commented on #97
Hi @gentlemanjohn , I ran a few tests on my end, but it looks like the rendering in 3ds Max uses a different lighting model than in BabylonJS, so the lighting won't map 1 to 1 between engines unfortunately :(

[2018-10-01 21:47] #97 closed

[2018-10-01 23:07] kcoley commented on #328
Hi @MaximeOrlandi , I was unable to find the Normal Tools from your reference gif.  It it built into Blender or is it a Blender addon?  Currently we don't have support for any addons.  Do you have a sample fbx file that has been modified?

[2018-10-02 08:09] Vinc3r commented on #328
I don't know the addon MaximeOrlandi use, but you can try modiying normals with [YAVNE for example](https://github.com/fedackb/yavne), or more simple, use the [default Normal Edit modifier](https://i.imgur.com/SAPiZi8.png).

The point is to get custom split normals data into the mesh:
[img](https://i.imgur.com/p6EqzaU.png)

[2018-10-02 08:46] Selmar commented on #325
Yes, as I said, the out directory is set to the 3dsmax application's assemblies directory (`C:\Program Files\Autodesk\3ds Max 2016\bin\assemblies`). These are the default settings I have with the project (which makes sense when you're modifying the code and testing a new version).

[2018-10-02 08:51] Selmar commented on #325
I suggest we modify the post-build processes in the project to output the files in the repository's `\3ds Max\assemblies\2015 - 2016` first and then copy to `C:\Program Files\Autodesk\3ds Max 2016\bin\assemblies` instead of vice-versa.

[2018-10-02 11:52] Selmar commented on #324
Alright, odd. I guess it's because most people use `.jpg` and we don't want to rename it to `.jpeg` all the time. That maybe warrants some code comments. Nice find.

[2018-10-02 14:11] johanos commented on #326
If it works manually that's interesting. We get to this scene through a maxscript so if we have to remove the multi material and reattach it that might be a bit weird on our end. if we unassign the multimaterial from the model and assign it again through code does that have the same effect as manually doing it

[2018-10-02 16:39] kcoley commented on #325
@Selmar, I see, so your `OutDir` is set to `C:\Program Files\Autodesk\3ds Max 2016\bin\assemblies\` by default, whereas mine is set to `bin\Debug\` by default.  This could be a discrepancy between plugin versions.  Did you try against the latest plugin (1.3.0)?

[2018-10-02 16:43] kcoley commented on #326
@johanos you unassigning and reassigning in maxscript to see if that works.  I believe it is a weird bug in 3ds Max itself, or perhaps something in the scene file.  Let me know if that works.

[2018-10-03 16:09] kcoley commented on #328
@Vinc3r thanks for the additional info.  I'll verify with Blender's default normal edit modifier.  If split normals are not being exported, it may be a bug in the exporter.

[2018-10-05 00:45] jinshim opened #332 "Exportation cancelled: Cannot find the method"
Maya2017
to glTF

Exportation stops and this message shows up from the Exporting nodes tab:

Exportation cancelled: Cannot find the method(It's written in other language so I'm not sure if this is the right wording) 'System. String Autodesk. Maya. OpenMaya. MPlug.get_asStringProperty()'

I'm very new to these programs.. help me out!

![error](https://user-images.githubusercontent.com/43852489/4651

[2018-10-05 03:16] kcoley commented on #332
Hi @jinshim. Do you know if your scene happens to have Unicode characters? It’s possible the exporter is failing on that.

[2018-10-05 03:30] kcoley commented on #329
Closing for now. Feel free to reopen if needed

[2018-10-05 03:30] #329 closed

[2018-10-05 04:05] jinshim commented on #332
Hi @kcoley ,
Nope, I even reinstalled the window because the account was in Korean. All the directories and else are in English only...

this is the full error message:

![errormessage](https://user-images.githubusercontent.com/43852489/46515535-54088580-c89f-11e8-8be0-17650170d026.png)

[2018-10-05 18:07] kcoley commented on #332
@jinshim ah okay.  Which version of Maya are you using?  I just noticed that there is an issue with Maya 2017.

[2018-10-07 22:22] Troxid opened #333 "Unity Exporter; Export Scene File error: [FreeImage] Library not available."
**Version of unity**: 2018.1.3f1
**Version of plugin**:  	"Babylon Editor Toolkit.unitypackage" 	- 3.3 Beta RC4
**Errors**:
[FreeImage] Library not available.
Failed to convert exr file: /tmp/SCENENAME_Lightmap-1_comp_light.png
FileNotFoundException: /tmp/SCENENAME_Lightmap-1_comp_light.png does not exist
**Reason of error**:
The plugin doesn't have a native library of FreeImage for linux-based OS

[2018-10-08 05:52] jinshim commented on #332
I'm using Maya2017! I even tried exporting to FBX then to glTF through other softwares but keyed animations dont come together.. Do you have any other ways to export gltf from Maya?

[2018-10-08 13:41] deltakosh commented on #333
Pinging @MackeyK24

[2018-10-09 06:33] Troxid commented on #333
KDE neon 5.13 (Ubuntu 18.04 LTS with KDE desktop environment), 64-bit

For the temporal solution i just have disabled backed light and used real-time lights and everything is working without errors

For solving problem i have tried compile FreeImage 5.18.x, place resulted *.so in the plugin folder and create the [map config](https://www.mono-project.com/docs/advanced/pinvoke/#library-names) `FreeI

[2018-10-09 08:42] MackeyK24 commented on #333
Sorry ... I dont support Linux... But if you help me Gather up the Updates Assemblies for BOTH cmft (Cubemap Filter Tool 0 Command Line Edition) and the Latest FreeImage.Net Assemblies.

These are the Native PLUGINS i use... So please try and gather the latest Versions of each with the Linux Files as Well... I will then try and add Linux Support To Toolkit :)

[2018-10-09 23:51] hassanshaikley opened #334 "Upgrade to Blender 2.8"
Getting `AttributeError: RNA_Types object has no attribute 'Lamp'` in the Blender 2.8 Beta that is soon to be released.

: )

I might take a peek at this later if I have a minute.

[2018-10-10 12:40] sebavan opened #335 "Alpha Test not handled when exporting to PBR"
see http://www.html5gamedevs.com/topic/40472-meshes-from-3ds-max-to-babylon-have-strange-see-through-effects/?tab=comments#comment-231135

[2018-10-10 13:56] #300 closed

[2018-10-10 13:57] #296 closed

[2018-10-10 13:58] deltakosh commented on #325
Closing for now. Please reopen of needed

[2018-10-10 13:59] #326 closed

[2018-10-10 14:53] Palmer-JC commented on #334
This minor problem & a few others have already been fixed in the [EEVEE branch](https://github.com/BabylonJS/Exporters/tree/EEVEE) of the repo.

There is no 2.8 Blender beta.  It is an alpha as of yesterday.  Whenever is is declared production, I am sure many people's workflow will dictate that they use 2.79 for some time.

The version of exporter in the EEVEE branch now cannot even be tried, sinc

[2018-10-10 14:53] #334 closed

[2018-10-10 21:02] Selmar commented on #325
I'm sorry, I haven't had time to do this yet. I will check it when I get around to it.

[2018-10-11 02:12] dtrinh100 opened #336 "Unlit Material Issue"
The issue is referenced here: http://www.html5gamedevs.com/topic/40525-gltf-validation-error/

[2018-10-11 07:05] #332 closed

[2018-10-11 07:06] kcoley commented on #332
Hi @jinshim this should now work in Maya 2017 if you get the latest release.  Thanks for flagging this issue!

[2018-10-11 22:50] kcoley commented on #336
Hi @dtrinh100 , the fix has now been merged (https://github.com/BabylonJS/Exporters/pull/338).  Thanks for flagging!

[2018-10-11 22:50] #336 closed

[2018-10-11 22:51] kcoley commented on #335
I will add buttons to the exporter to enable toggling alpha blend and alpha test

[2018-10-16 16:06] Phyxir opened #339 "Maya: One mesh with multiple Arnold materials"
Maya will export properly when a mesh has one Arnold texture. If two Arnold textures are applied to the same Mesh, this error is generated.

![capture](https://user-images.githubusercontent.com/44206276/47030374-76619500-d122-11e8-89b4-17b2749cbc90.JPG)

Does anyone know why?
Thanks in advance for any advice.

[2018-10-16 17:20] kcoley commented on #339
@Phyxir I'll take a look

[2018-10-16 17:37] johanos opened #340 "[3ds Max] KHR Lights Extension is Causing Validation Issue"
Hey guys, just noticed that when I take models from this exporter they seem to be throwing errors as per this validator in the sand box

![image](https://user-images.githubusercontent.com/6535806/47035058-1204fc80-d147-11e8-8d82-7611e9f74349.png)

## It says

[code]

Which I think just means that the KHR_Lights extension was not used correctly? the model still loads in babylonjs but if the KHR_Lig

[2018-10-16 18:35] kcoley commented on #340
Hi @johanos , which exporter are you using?  And do you have a sample model/scene?

[2018-10-16 18:39] kcoley commented on #340
@johanos  Nvm, I see you are using "babylon.js glTF exporter for 3ds max 2018 v1.2.26",.  I recently updated the 3ds Max exporter to use KHR_Lights_punctual.  Are you on the latest version?

[2018-10-16 18:55] kcoley commented on #339
@Phyxir do you have a sample scene?  I'm having trouble reproducing.

[2018-10-16 18:59] Phyxir commented on #339
Thank you for looking into this.

Attached is an archived scene. Contains meshes and arnold textures. Object
with a single texture will export, but not objects with multiple textures.
Every file I have does it.

Thanks again,

Tony

On Tue, Oct 16, 2018 at 11:56 AM Kacey Coley <notifications@github.com>
wrote:

--

www.Pentavis.com | info@pentavis.com

[2018-10-16 19:01] Phyxir commented on #339
Also,

Maya 2018.4
Windows 10
Maya install is on secondary drive, not C: drive.

On Tue, Oct 16, 2018 at 11:58 AM Pentavis Online <pentavis@gmail.com> wrote:

--

www.Pentavis.com | info@pentavis.com

[2018-10-16 19:08] PatrickRyanMS opened #341 "Maya inserted colon in material names causing texture export failure"
## Bug
When importing an OBJ file into Maya, the material names will be renamed with a colon in them like this:

**meshName:materialName**

When exporting this mesh to glTF with the Babylon exporter, an error is generated saying the exporter failed to save the bitmap because it contains an invalid character. Renaming the material to remove the colon corrects the issue and it will export correctly.

[2018-10-16 19:48] kcoley commented on #339
@Phyxir looks like the attachment isn't part of your response.  Can you reattach?

[2018-10-16 19:50] Phyxir commented on #339
Sure.

It shows as attached here. Orbal Sword.mb.zip

Thanks,

On Tue, Oct 16, 2018 at 12:48 PM Kacey Coley <notifications@github.com>
wrote:

--

www.Pentavis.com | info@pentavis.com

[2018-10-16 19:51] kcoley commented on #339
@Phyxir looks like it is just text this time?

[2018-10-16 19:57] Phyxir commented on #339
Hmm, not sure why it isn't going through.
I have attacked it with a different name.
Here is a link to it on Google Drive too
https://drive.google.com/open?id=1nRK3WOAyyAdBGdeoMA0vkmwKis6R501b

Thanks for you patience.

On Tue, Oct 16, 2018 at 12:51 PM Kacey Coley <notifications@github.com>
wrote:

--

www.Pentavis.com | info@pentavis.com

[2018-10-16 19:58] kcoley commented on #339
@Phyxir thanks, looks like Google Drive link worked.  I'll take a look

[2018-10-16 20:35] johanos commented on #340
Update: I Updated the exporter to the most current one. Errors were gone and there's only 1
[new1406623.glb.zip](https://github.com/BabylonJS/Exporters/files/2484806/new1406623.glb.zip)

https://gltf-viewer.donmccurdy.com <-- This viewer still fails at loading the models from it, which I know is not you guy's viewer but its one that's listed in the Khronos Group Repo and exposed this issue (is it

[2018-10-16 21:21] kcoley commented on #340
@johanos thanks for flagging, looks like another bug in the exporter.  I'll work on a fix for that ASAP

[2018-10-17 00:58] kcoley commented on #341
@PatrickRyanMS just merged a fix for this for v1.2.23: https://github.com/BabylonJS/Exporters/tree/master/Maya

[2018-10-17 00:59] kcoley commented on #340
@johanos just merged a fix for this for v1.2.23.  Please reopen if the issue still comes up.

[2018-10-17 00:59] kcoley commented on #341
Feel free to reopen if the issue comes up again

[2018-10-17 00:59] #341 closed

[2018-10-17 01:00] kcoley commented on #339
@Phyxir just merged a fix for this.  Feel free to reopen this issue if the problem comes up again.

[2018-10-17 01:00] #339 closed

[2018-10-17 03:38] Phyxir commented on #339
You are incredible! Thank you so much.
Is there a place where people can donate to this project?

On Tue, Oct 16, 2018 at 6:00 PM Kacey Coley <notifications@github.com>
wrote:

--

www.Pentavis.com | info@pentavis.com

[2018-10-17 20:53] dtrinh100 opened #343 "3D Studio Max Exporter Warnings"
When using the unlit extension, these warnings appear:

[code]

Should they be a cause for concern?

[2018-10-17 22:53] jdswiney opened #344 "MorphTarget options."
MorphTargets don't export in the Babylon file formats in latest version.

[2018-10-17 23:11] deltakosh commented on #344
Hello! Which exporter?

[2018-10-18 00:02] Phyxir commented on #339
Hi Kacey,

I have included your product and website in this blog post. You'll find it
near the bottom. If this is acceptable to you, I will publish it tomorrow.

Thanks again,

Tony Higgins

On Wed, Oct 17, 2018 at 10:26 AM Pentavis Online <pentavis@gmail.com> wrote:

--

www.Pentavis.com | info@pentavis.com

[2018-10-18 00:04] kcoley commented on #339
@Phyxir that's great, though I don't see the link?

[2018-10-18 00:12] Phyxir commented on #339
I have no clue why gmail attachments don't arrive. I will send cloud link
in a moment

On Wed, Oct 17, 2018, 5:04 PM Kacey Coley <notifications@github.com> wrote:

[2018-10-18 00:12] Phyxir commented on #339
Ok, here is the link to a pdf. Post isn't live yet.

https://drive.google.com/open?id=1S1TPv_-ppOkH5inpedLtfTJm12NwekgP

On Wed, Oct 17, 2018 at 5:04 PM Kacey Coley <notifications@github.com>
wrote:

--

www.Pentavis.com | info@pentavis.com

[2018-10-18 00:19] kcoley commented on #339
@Phyxir looks good, we're looking forward to it!

[2018-10-18 13:56] johanos commented on #340
Hey It looks like that's only for Maya, is there a way to add this to the 3ds max version of the exporter too?

[2018-10-18 14:14] kcoley commented on #340
@johanos sure thing, I'll put in a fix for 3ds Max ASAP

[2018-10-18 14:51] kcoley commented on #340
@johanos I just pushed a fix for 3ds Max for version 1.3.2.

[2018-10-19 18:22] johanos opened #346 "[3ds Max] Ambient Occlusion not getting exported when code is ran"
Hey guys, found a bug in the max exporter.

When i set these parameters through maxscript I am not getting the ambient occlusion in my models. if i do it manually from the Babylon>exporter menu. it works. It also seems to be happening for every model we run this for.

don't know if its related to this issue https://github.com/BabylonJS/Exporters/issues/326 but even unassigning and reassinging mate

[2018-10-19 19:41] deltakosh commented on #346
Pinging @kcoley

[2018-10-19 19:54] johanos commented on #340
Hey not to beat a dead horse, the errors seem to have gone away. but the models (even a simply cube) wont open in this viewer

https://gltf-viewer.donmccurdy.com/

to my understanding this viewer is endorsed by Khronos group. so if the exporter was conforming to the standard it should still load. I think this is indeed the case and so if the model isn't loading that means the don mccurdy viewer is

[2018-10-19 21:18] sbtron commented on #340
Hey folks the lights extension to glTF was only recently submitted to ratification and as such should still be considered in development across various exporters and engines.
There is a list of in-progress extensions but we probably need to be a better job of explaining what to expect with each extension - https://github.com/KhronosGroup/glTF/tree/master/extensions#in-progress-khronos-and-multi-ve

[2018-10-19 22:06] donmccurdy commented on #340
In JSON, the model from https://github.com/BabylonJS/Exporters/issues/340#issuecomment-430390718 shows —

<img width="199" alt="screen shot 2018-10-19 at 2 58 17 pm" src="https://user-images.githubusercontent.com/1848368/47245884-ec2e6080-d3af-11e8-8cde-8b6018b17669.png">

I see you've pushed a fix since then, so maybe this is addressed already, but `3` isn't a light type.

As far as I'm aware my

[2018-10-22 14:07] johanos commented on #340
Yeah, the main point of confusion is that we are working with a partner that defined a good gltf as one that loads in Don's viewer, yet all our models that would come out, pass validation in the Khronos validator, and load in babylon would be unable to load in this one. So we were trying to figure out where exactly we were messing up if it was us. Everything above makes sense.

To my understanding

[2018-10-22 15:39] donmccurdy commented on #340
I can't really guarantee that the viewer will fail gracefully when incomplete or experimental extensions are involved. Moreover, to some extent I think it's better to be strict so that errors are found and fixed quickly.

In [KhronosGroup/glTF-Blender-Exporter](https://github.com/KhronosGroup/glTF-Blender-Exporter) we try to keep incomplete extensions disabled behind an "Enable experimental extens

[2018-10-22 17:51] donmccurdy opened #347 "Optional use of KHR_texture_transform"
I'm seeing bug reports from users whose materials don't look correct in threejs, and inspecting the model all of the materials contain:

[code]

generator: babylon.js glTF exporter for 3ds max 2018 v1.2.40

Is this a default value in the 3DS Max exporter? Ideally it would be nice to have the option of applying the transform directly to UVs, without using the extension. If that's not possible, I th

[2018-10-22 17:57] donmccurdy opened #348 "Hardcoded copyright in glTF exports"
The Maya and Max exporters appear to use a hardcoded copyright value of "2017 (c) BabylonJS".

https://github.com/BabylonJS/Exporters/blob/5f435f082ff7352948e81877d834a2d7d5cba621/Maya/Exporter/BabylonExporter.GLTFExporter.cs#L51

From the spec, `copyright` is defined as:

My understanding would be that this field should be left blank, unless an end-user provides a string through some exporter set

[2018-10-22 20:17] kcoley commented on #346
@johanos I'll take a look

[2018-10-22 20:32] kcoley commented on #348
Thanks for flagging @donmccurdy , just merged a fix for this: https://github.com/BabylonJS/Exporters/pull/349

[2018-10-22 20:32] #348 closed

[2018-10-22 20:32] kcoley commented on #347
@donmccurdy I'll take a look

[2018-10-23 01:48] kcoley commented on #346
@johanos it looks like this line is the culprit in your maxscript:

`paramLOD2.mergeAOwithMR = false`

Setting this to true allows the AO map to be exported.  I'll admit this is unclear since it took me a while to find this.  We have plans for an update to hopefully make this more clear.

[2018-10-23 01:48] #346 closed

[2018-10-23 02:02] kcoley opened #351 "3ds Max exporter - export AO without merging with metallic roughness"
Related to this issue: https://github.com/BabylonJS/Exporters/issues/346

[2018-10-23 03:15] kcoley commented on #325
@Selmar I think I am able to repro the issue you are hitting now.  I switched my VS project from `Debug` to `Release`, and see the behavior you mentioned.  I will look into a fix for this.

[2018-10-23 04:19] #351 closed

[2018-10-23 10:05] jameslashmar commented on #56
+1

[2018-10-23 16:50] kcoley commented on #344
@jdswiney thanks for flagging this, I'll look into it once I get some cycles

[2018-10-23 16:58] kcoley commented on #340
The KHR_lights_punctual extension can now be toggled on in the exporter, so closing this issue for now.

[2018-10-23 16:58] #340 closed

[2018-10-24 22:43] #347 closed

[2018-10-24 22:44] kcoley opened #355 "Maya exporter: Optional use of KHR_texture_transform"

[2018-10-24 22:44] kcoley commented on #347
@donmccurdy KHR_texture_transform is now opt-in for the 3ds Max exporter and set to required.

Will need to do the same for Maya: https://github.com/BabylonJS/Exporters/issues/355

[2018-10-24 23:10] donmccurdy commented on #347
Thanks — although I don't fully know what that means... textures will be written as-is, without the transform, and users need to transform them in their engine?

If the fallback (apply transform directly to UVs) isn't easy to implement for whatever reason, I could see the argument for going opt-out here too. Three.js will support `KHR_texture_transform` in our next release, with a number of caveat

[2018-10-24 23:21] kcoley commented on #347
@donmccurdy if the texture transform checkbox is not enabled, textures would be written out without the transform applied.  It's to do with a current edge case in the glTF texture transform extension specification:

1. Two textures share a texture coordinate channel on a mesh (for example base color texture and emissive texture) and only one of these textures uses a texture transform
2.  The secon

[2018-10-25 00:01] donmccurdy commented on #347
Ok thanks, that makes sense.

That isn't strictly true — conforming clients required to implement at least two UV sets. Writing 3+ UV sets is allowed, but will decrease portability of the asset.

[2018-10-25 00:08] kcoley commented on #347
@donmccurdy ah right, I should say that it is not compliant to use more than two texture coordinates.  I want to try to keep the exporters as portable as possible.

[2018-10-25 22:28] kcoley commented on #343
@dtrinh100 I made some recent changes to the Max exporter so that the lights extension is disabled by default.  Feel free to file a new issue if you see other issues.

[2018-10-25 22:28] #343 closed

[2018-10-25 22:31] kcoley commented on #335
Support for AlphaTest is now available by setting a custom material attribute in 3ds Max.  Here is a references MaxScript: https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/MaxScripts/BabylonMaterialAttributes.ms

[2018-10-25 22:31] #335 closed

[2018-10-26 00:29] #355 closed

[2018-10-26 03:38] kcoley commented on #344
Hi @jdswiney do you have a sample Maya scene where morph targets are not exporting?  I was able to export from Maya 2017 and 2018 on my end.

[2018-10-26 03:49] kcoley commented on #344
@jdswiney nvm, I see that you mentioned it not working with .babylon.  It looks like the exporter does export the morph target, but does not export the animations for it.  I will look into a fix.  In the meantime, exporting morph targets to glTF and importing to Babylon works as expected, if that is an option.

[2018-10-26 11:55] VentuzDennisDworak opened #359 "Animations with movement of the Bip001Pelvis does not translate properly"
i have used a simple biped and very basic mesh, used the mixamo tool to apply a "samba" animation.
This animation is translating the whole body a bit, Imported the animation back into 3dsmax as FBX animation looks good.

Exporting the animation as gltf and binary and using different tools the result is different:
the bip001Pelvis looks like it is "nailed/fixed" therefore no correct body rotations

[2018-10-26 14:13] jdswiney commented on #344
Thanks! Sorry for the lack of clarity on the problem. Interestingly though on my end I can only get the original shape to export to the sandbox testing ground no matter what state the Blendshape is in. I'm using 2018.4

I noticed the glTF worked but I am trying to stick with the Babylon file format because it has another key feature that glTF is missing and I want to be able to use.

[2018-10-26 21:37] angelovancleef commented on #340
![afbeelding](https://user-images.githubusercontent.com/44299887/47593576-18ca1580-d978-11e8-8091-f836d03aedeb.png)

![afbeelding](https://user-images.githubusercontent.com/44299887/47593585-1ff12380-d978-11e8-983a-4c1184a66dc5.png)

After installing the lastest version in 3ds max 2018 :(

[2018-10-26 21:45] kcoley commented on #340
Hi @angelovancleef , to verify, did you unblock the dlls before installing?:
![image](https://user-images.githubusercontent.com/3946928/47593833-be0bcc00-d92d-11e8-9f77-950039e4fce8.png)

[2018-10-26 21:48] angelovancleef commented on #340
Unfortunately there is no such option when I go to that menu :(

[2018-10-26 21:49] kcoley commented on #340
@angelovancleef interesting, which version of 3ds Max are you using?

[2018-10-26 21:54] angelovancleef commented on #340
Oh sorry forgot to mention, 3ds Max 2018 atm. Only plug-in installed is Vray 3 :)

[2018-10-26 21:57] kcoley commented on #340
@angelovancleef gotcha.  Can you try these steps?:
1. re-download the zip archive from GitHub,
2. Right-click, go to properties, and then select the unblock checkbox?

It should look like this:
![image](https://user-images.githubusercontent.com/3946928/47594231-37f08500-d92f-11e8-9443-b1d8bad179ee.png)

[2018-10-26 21:58] kcoley commented on #340
@angelovancleef Otherwise, you may have to go through each dll and unblock them manually

[2018-10-26 22:04] kcoley commented on #359
@VentuzDennisDworak I'll take a look

[2018-10-26 22:04] angelovancleef commented on #340
Just did that and nothing. Not even when I select each individual file one by one :'(
Is there any other way to "unblock", if that is the issue?

![afbeelding](https://user-images.githubusercontent.com/44299887/47594492-d4d90f80-d97b-11e8-8fd8-b0774f5db58d.png)

[2018-10-26 22:10] kcoley commented on #340
@angelovancleef that is interesting,  I will have to get a build of 3ds Max 2018 and verify against it.  So far I have tested against 3ds Max 2017 and 2019.

Do older releases work for you?

[2018-10-26 22:17] angelovancleef commented on #340
Tried again, that option IS available on the RAR file, not on the individual DLL files.
But still some errors unfortunately. I dont have any older (or newer) Max versions :(

![afbeelding](https://user-images.githubusercontent.com/44299887/47594875-aceaab80-d97d-11e8-9d86-df74ca9e9796.png)

![afbeelding](https://user-images.githubusercontent.com/44299887/47594879-afe59c00-d97d-11e8-8ad3-0ad446879b

[2018-10-26 22:32] angelovancleef commented on #340
Nope same errors still :(

[2018-10-26 22:39] kcoley commented on #340
@angelovancleef very weird :/  Hmm currently there isn’t really a way to log plugin loading errors. I think what I’ll do is try to get an install of 3DS Max 2018 and see if I can repro the issue there.

If you happen to have access to Visual Studio, you can try building the plugins yourself and see if happens to work better for you.

In the short term you can export as glTF and remove the light ex

[2018-10-26 22:47] angelovancleef commented on #340
No clue how to do stuff like that hahaha. I'll give it a try tomorrow and see what I can come up with ;)
Many thanks so far!

[2018-10-26 22:56] kcoley commented on #340
No problem!

[2018-10-27 06:12] johanos commented on #340
For my stuff I was on Max 2018 using VRay 3.6 if that helps. I had no issue with the new dlls if that helps narrow down what’s wrong with it

[2018-10-27 07:56] angelovancleef commented on #340
Yeah I have the exact same Johanos. Max 2018 with VRay 3.6. Updated till latest version (max).
Windows 10 home 64-bit (full updated).

AMD Ryzen 7 1800x
Nvidia GTX 980 TI Lightning
16GB DDR4 Corsair RAM

Going to reinstall Max and Vray and try again. Weird thing is that after upgrading to the newest version, even the old version is not working anymore :'(

Will let u guys know if the reinstall wor

[2018-10-29 11:56] tkazik opened #360 "[max][gltf] some normals still bugged"
Hi folks

I recently got a model that still seems to have weird normals in certain parts. A simple model to reproduce the issue can be found here: [normal_issue.zip](https://github.com/BabylonJS/Exporters/files/2525082/normal_issue.zip)

![screenshot](https://user-images.githubusercontent.com/15689124/47648011-0539cd00-db79-11e8-92b9-7eab7dfda5ce.jpg)

My first investigations let me conclude that

[2018-10-29 16:50] kcoley commented on #360
@tkazik I'll take a look

[2018-10-29 18:32] kcoley commented on #360
@tkazik can you walk us through how you authored this scene?  It would be useful to help figure out how the issue came about.

[2018-10-29 22:36] kcoley commented on #344
@jdswiney so it looks like, when using a .babylon format, the morph target animations are in the file, but are not in an animation group, which is the case for glTF.  Because of this, you would currently have to group the animations yourself in javascript, something like this:

[code]

Though I will work on possibly adding an option to create an animation group on export to .babylon file format.

[2018-10-30 11:29] tkazik commented on #360
Thx for the quick follow-up!
Sure, I wrote a small maxscript, which will guide you through the necessary steps. As maxscript is not recognized as language, I paste it here as a quote:

meshOrig.name = "triangle_normals_weird"

meshOrig.position = [-4,-0.5,3]
meshOrig.rotation = (quat 0.239118 0.369644 -0.0990457 0.892399)
meshOrig.scale = [3,2,1]

meshOrig.objectOffsetPos = [1,3,2]
meshOrig.object

[2018-10-31 02:17] jdswiney commented on #344
You are awesome! Much appreciated.

[2018-10-31 11:07] Selmar commented on #159
I would like to re-open this isuse, as there is still (or again?) a lot of duplication in the skinning data. Observe the below output from one of our bigger meshes.

Many joint hierarchies share the same `skeleton` root (which is obsolete, but it gives us some information now). They often share a large part of the hierarchy. In some cases, the hierarchy is exactly the same (`#18`, `#18_1` for exam

[2018-10-31 15:25] deltakosh commented on #159
Pinging @bghgary

[2018-10-31 17:05] bghgary commented on #159
If the source is one hierarchy, it might be that we should only export one hierarchy, but it depends on how the skins are set up in the DCC tool. At a minimum, we should remove the duplicate skins where the hierarchy is identical.

[2018-10-31 18:22] kcoley commented on #359
@VentuzDennisDworak I think I know where to investigate to fix this.  In the meantime, you could use FBX2GLTF to convert your mixamo model which seems to work (https://github.com/facebookincubator/FBX2glTF)

[2018-10-31 18:40] Remi-Tribia opened #362 "[Max] Possible to export Xref Objects"
Hi,

I'm using multiple assets separated in their own .max files and then assemble a bigger scene using Xref Objects, placing them and baking lightmaps for the entire scene. The lightmap uses UV2, all the differents xref objects are laid out in the same UV space. Since the UV2 is unwrapped in the big scene I would need to export all those Xref Objects, as if it was classic objects.

Don't know if

[2018-10-31 21:54] voidreamer opened #363 "Linux support ?"
Hi guys, is it planned or possible ?
thank you, awesome work!

[2018-10-31 23:11] deltakosh commented on #363
Which exporter?

[2018-10-31 23:13] voidreamer commented on #363
Sorry, forgot to mention, I mean the Maya exporter

[2018-11-01 09:16] VentuzDennisDworak commented on #359
@kcoley
Great Thanks,
just wanted to report that ;)

[2018-11-01 16:57] kcoley commented on #344
@jdswiney should be in the latest nightly now.  You can test with the Babylon.js sandbox: https://sandbox.babylonjs.com/

[2018-11-01 16:59] kcoley commented on #362
@Remi-Tribia to verify, are you wanting an option to just export the mesh geometry without any materials and textures?

[2018-11-01 17:01] kcoley commented on #363
@voidreamer we talked about wanting to support this, though this would take some time as we would have to rewrite the Maya exporter in Python instead of C#.  But this way, it would also work on Mac OS and Linux.

[2018-11-01 17:58] kcoley commented on #360
@tkazik so it looks like the issue is related to creating a pivot, which we would have to support in the exporter.  This would probably take a few days to implement, but in the meantime, you could manually create a child transform node and set the position as an offset, instead of setting the offset position.  Later on, this should hopefully be automated.

[2018-11-01 17:59] kcoley commented on #328
@MaximeOrlandi @Vinc3r heads up that this will take me a while to get to since I've been resolving some bugs with the other exporters, but hopefully I'll get to this soon!

[2018-11-01 18:29] Remi-Tribia commented on #362
Yes, only the objects without any material. I'm using `$.material = undefined` before exporting for now. I export all the materials using another scene to create some kind of material library.

[2018-11-04 17:46] KOTETOhub opened #364 "GLTF IMPORT"

[2018-11-05 01:00] kcoley opened #365 "3ds Max exporter does not support the skin modifier"
Original forum question
http://www.html5gamedevs.com/topic/40310-exporting-grouped-skin-to-gltf-from-3dsmax-doesnt-work/

[2018-11-05 14:34] deltakosh commented on #364
I guess we could have a better description as well:)

[2018-11-05 15:01] kcoley commented on #362
@Remi-Tribia I just merged an update for this, so you can now toggle material export from the 3ds Max exporter window.

[2018-11-05 15:01] KOTETOhub commented on #364
sorry! i didn't open this issue conciously! ‚
I thought I was searching for a topic...
I wish to import glTF files downloaded from Sketchfab into Autodesk Maya 2015 on my OSX

[2018-11-05 15:02] KOTETOhub commented on #364
I'm completly new here, and don't even know if this is the right place to ask this :-)

[2018-11-05 15:03] kcoley commented on #364
@KOTETOhub no worries! I have an issue for this here already:

https://github.com/BabylonJS/Exporters/issues/184

I plan on working on this once I fix some standing bugs in the Maya and Max exporters.  Feel free to track progress there!

[2018-11-05 15:03] #364 closed

[2018-11-05 15:07] KOTETOhub commented on #364
oh! thanks!

[2018-11-05 15:17] Remi-Tribia commented on #362
Thanks a lot! I will test it asap.

[2018-11-05 15:56] Remi-Tribia opened #367 "[Max] Export diffuse color even if a diffuse map is specified"
Hi,

Me again... I noticed that when a diffuse map is set on a Physical Material, the rgb color is ignored and replaced by pure white. It could be useful to export the rgb value specified instead of pure white to be able to tint the material in webgl without the need to use several colored maps.

In my case, I need multiple tints of fabric, I would put a greyscale map in diffuse and tint it with t

[2018-11-06 19:18] tkazik commented on #360
@kcoley thank you for the hint! I was playing around with the code a bit and initially got good results by taking the normals in object space and basically undoing the offset transform to get the normals in local space. Unfortunately, this approach fails with this test model:

[test3_normalsFix_noAnim_noMat_simple.zip](https://github.com/BabylonJS/Exporters/files/2554668/test3_normalsFix_noAnim_no

[2018-11-06 19:21] kcoley commented on #360
@tkazik sure I'll take a look

[2018-11-08 14:50] Selmar opened #368 "[Max][glTF] Exporting .max into several glTF files."
Hi!

We would like to export separate scenes into one .gltf file.

I imagine it would work by somehow specifying a node as a scene root, which can optionally transform all its children to the scene root node's space (i.e. make it the origin of all its children).

This would simplify exporting many objects that are defined in the same 3dsmax file.

[2018-11-08 16:00] EtagiBI opened #369 "[Max][glTF] Exporter quadruples vertices on export"
Hello,

We're trying to use Babylon's 3DS Max exporter to get glTF files. Unfortunately, the exporter quadruples vertices on export, so output glTF files become very big.

Our export setting are as follows:
![default](https://user-images.githubusercontent.com/20855725/48210456-28deed80-e399-11e8-84b9-9c8da99ec695.png)

Here're our source MAX model and exported glTF model:

[Models.zip](https://git

[2018-11-08 16:03] Remi-Tribia commented on #368
What do you call separate scenes? Separate .max files?

Cause what you are explaining is just like adding a dummy and parent all other objects to it, then export everything with the exporter.

I mainly work with Three.js (so BabylonJS might import gltf differently) but when I do that (parent dummy or grouped objects) it creates an empty Group object in which every children is parented.

[2018-11-08 16:09] Selmar commented on #368
No, one .max file, several glTF scenes: https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#scenes

It's not parenting, it's really a different scene definition; it's much like having separate glTF files.

Right now, the artists have to select the relevant objects and export them to separate gltf files, which takes a large part of their time in some cases.

[2018-11-08 16:10] Selmar commented on #369
Try selecting all your nodes > right-click > babylon properties, and tick `try optimize vertices`. This should help a lot.

[2018-11-08 16:14] Selmar commented on #369
Similarly, if you are using animations, in some cases (especially for rotations) it is very helpful to disable animation optimization:
unselect all nodes > right-click scene background > babylon properties > tick `Do not optimize animations`

[2018-11-09 05:42] EtagiBI commented on #369
Thanks, it worked!

Shouldn't it be the exporter option?

[2018-11-09 11:48] Selmar commented on #368
Actually, come to think of it. If we export several scenes into the same glTF file, we would have to export every scene every time we change one object (which is related to only one scene). This would also cost a lot of time.

I guess a better solution may be to have some kind of scene export configuration; being able to specify which object goes where and whether to reset the pivot, being able to

[2018-11-09 11:49] Selmar commented on #368
Perhaps we could even combine the scene and separate gltf export functionalities, but I guess exporting separate gltfs is enough; I will talk to the artists.

[2018-11-09 16:18] Selmar commented on #368
I have changed the title to reflect what I would like to add to the exporter.

Instead of having a single file to export to, one would build a list of nodes with export target files. By default it would reference the root node (and thus export everything into one file), with the export target being the name of the `.max` file and the output folder where the `.max` file is.

Some options would be p

[2018-11-09 16:43] kcoley commented on #368
@Selmar would the list of nodes be groups with export target files, or something else?  If groups, the behavior can probably be toggled with a checkbox in the exporter.  Or did you have something else in mind?

[2018-11-09 22:34] Selmar commented on #368
Yes, something like that. A checkbox is a bit odd, perhaps a tab or fold-out pane?

The biggest difficulty is perhaps that the list requires a vertical panel, where the current file export part of the panel is more horizontal, but they both want the logging output part.

[2018-11-11 12:00] tkazik commented on #360
The PR https://github.com/BabylonJS/Exporters/pull/370 fixes models that contain an offset transform. The first test file from above (before vs now):
![before_vs_after](https://user-images.githubusercontent.com/15689124/48312571-31aa0c00-e5b1-11e8-9239-cca2a9d55da7.png)

However, the 'test3....'-model is not fixed by this PR (model seems somehow weird and I am unable to reproduce such a model; nee

[2018-11-11 17:51] #360 closed

[2018-11-11 17:51] kcoley commented on #360
@tkazik nice work.  Feel free to open a new issue once you find out how the model was created.

[2018-11-12 09:11] MaximeOrlandi commented on #328
Great ! Thank you !

[2018-11-12 18:59] #325 closed

[2018-11-12 21:16] kcoley commented on #367
Hi @Remi-Tribia just merged a fix for this.

[2018-11-12 21:16] #367 closed

[2018-11-13 11:08] Selmar opened #376 "[Max] Bug: IAnimatable.GetGuid() extension function incorrectly reassignes Guid"
Hi,

I've just found a bug.. well, I guess ... not really?

The problem is, I think, a guid conflict or something sneakier. There is one node that is exported, however, when calling `maxNode.GetGuid()` for retrieving the guid of the node, the node gets assigned a new guid.

This expression in this function is false: guids[uid].Equals(node as IInterfaceServer
[code]

However, this is really strange

[2018-11-13 13:31] Selmar commented on #325
It happened several times before that the different configurations diverged. Usually when changes are made people forget the other configurations. :P

Right now there are more than is necessary (I think visual studio creates some defaults every time you add a project). I think all we need is the x64 builds (debug/release) and one x86 (any, to be able to view the forms inside visual studio, which r

[2018-11-15 11:03] EtagiBI opened #378 "[Max][glTF] Saving export options as default template"
Hello,

It would be very useful to have an option to save current export options as default template: output format, scale factor, texture quality, all the ticks.

Is it possible?

[2018-11-15 14:35] deltakosh commented on #378
@kcoley is on vacations for a week but will get back to you asap:)

[2018-11-15 17:11] Tgjmjgj commented on #315
I have the same problem: neither the default skybox nor the custom skybox work on Windows.

[2018-11-15 19:12] MackeyK24 commented on #315
Check the the Main Camera has the ‘MainCamera’ tag set on in... also main camera is set to Skybox...

Some of the new Unity Editor has a bug where the Main Camera is Untagged

[2018-11-16 05:35] EtagiBI opened #379 "[Max][glTF] Unexpected texture renaming"
Hello,

It seems that the exporter renames _some_ (!) original textures to something like "Material #40_baseColor". It's not only confusing but also causes errors in some receiving applications that don't like spaces in names.

Is it possible to leave textures names untouched?

[2018-11-16 14:30] deltakosh commented on #379
Pinging @bghgary

[2018-11-16 17:14] bghgary commented on #379
I think you are talking about the glTF loader and not the exporter. I recently made a change to the glTF loader that updates the names of the textures. Can you attach the glTF that you are using?

The reason for this change is that glTF textures are not a 1:1 mapping to Babylon textures, so it is also confusing to use the texture name since it may appear multiple times. But that said, I'm okay wit

[2018-11-16 19:45] Tgjmjgj commented on #315
Tags is ok. I found that if click the button to export the scene file, 6 skybox files appear, and the Skybox works well. The problem occurs only when Build and Preview the scene in the attached Unity editor.

[2018-11-16 20:01] MackeyK24 commented on #315
Do you mean the Built-in Unity Web Browser or your regular external web browser

[2018-11-16 20:31] MackeyK24 commented on #315
Kool

[2018-11-17 01:49] smasherknock opened #381 "OS X / linux support for Maya exporter"
Any progress on OS X support for the Maya exporter? I could use this functionality.

[2018-11-17 13:38] tkazik opened #382 "Scene property "export morph normal" is not respected initially"
Hi folks

Another (hopefully minor) issue: Normals of morph objects are not exported by default, although the checkbox under scene properties is checked. Un-checking and checking the button again fixes this, so this looks like an initialization issue to me. The code looks fine, but the following line returns 'false' if the checkbox is not re-checked:

https://github.com/BabylonJS/Exporters/blob/3c

[2018-11-18 10:55] Ben-Mack opened #383 "[Max] Texture transform does not match when modified both Offset and Tiling"
Modified only Tiling:  result matched  ✔️
![tiling only](https://user-images.githubusercontent.com/6309393/48671376-91785800-eb59-11e8-9009-5d4fdbe4d133.PNG)

Modified only Offset:  result matched  ✔️
![offset only](https://user-images.githubusercontent.com/6309393/48671384-a2c16480-eb59-11e8-9929-7b86cd9601eb.PNG)

Modified both Tiling + Offset: Incorrect result between 3ds Max and glTF output ❌

[2018-11-19 04:13] Ben-Mack opened #384 "[Max] Export failed with nested MultiMtl: Index was outside the bounds of the array"
I've occurred this error: Index was outside the bounds of the array
![error](https://user-images.githubusercontent.com/6309393/48685336-5b35e980-ebe8-11e8-87f7-47857eac173d.PNG)

This error only happen when there is a nested `Multi/Sub-object` material with specific config like this:
![material](https://user-images.githubusercontent.com/6309393/48685327-51ac8180-ebe8-11e8-8af6-806856907f3d.png)

T

[2018-11-19 05:30] EtagiBI commented on #379
Here're both 3DS Max original model and exported GLTF:
[3DSMax_original.zip](https://github.com/BabylonJS/Exporters/files/2593896/3DSMax_original.zip)
[GLTF_Exported.zip](https://github.com/BabylonJS/Exporters/files/2593897/GLTF_Exported.zip)

As you can see, diffuse map was renamed in GLTF.

[2018-11-19 15:51] echadwick-wayfair opened #385 "[Max][glTF] Merge AO Map vs. different UVs"
Max2Babylon 1.3.9
3ds Max 2018.4

1. Create and Ambient Occlusion, Roughness, and Metalness maps, all JPG and the same pixel resolutions (512x512 for example).
2. Connect them into a Physical Material.
3. For Roughness and Metalness, specify UV channel 1.
4. For Ambient Occlusion, specify UV channel 2.
5. Assign to a mesh primitive that has two UV channels.
6. Exporter: format GLB, Merge AO Map, E

[2018-11-21 05:24] EtagiBI opened #386 "[Max][glTF] Texture cloning"
Hello,

Models that have one texture applied to different slots of a material (e.g. diffuse and bump) are exported with cloned textures (e.g. one for diffuse and one for bump). Although this problem is caused by inappropriate texturing, it would be nice to check it and prevent the exporter from creating clones.

[2018-11-21 20:35] PatrickRyanMS opened #387 "Skin breaking when exporting model from Max"
# Bug
When exporting a skinned FBX model with animation from Max 2019 using the latest exporter and the same FBX file from Maya 2019 with the latest exporter, I am noticing the Max export skin breaks. In the image below, the Max export is on the left and the Maya on the right. I will supply @kcoley with files for investigation.

![maxmayacomparison](https://user-images.githubusercontent.com/313268

[2018-11-22 17:54] Selmar opened #389 "[Max] Problem with Guid generation"
**Guid generation problem:**
Right now, a guid conflict can still happen. It will cause an invalid export once, after which the guid conflict will be solved. This may cause invalid exports which miraculously go away after a second export. So I think we should solve it.

It may happen in these cases (though it should be very rare):
- when merging max scenes (unsure if the appdatachunk is merged too

[2018-11-23 09:45] Selmar commented on #384
We've also had problems where a multimaterial with an empty slot would cause problems, assigning wrong material indices to the resulting gltf.

[2018-11-23 10:00] Selmar commented on #385
The code looks like this:

[code]

One texture object stores only one coordinate set, hence the problem. The texture object should be duplicated. However, right now, this would lead to multiple texture exports, so this should probably be tackled first (#386).

[2018-11-23 11:10] Selmar commented on #369
I feel the same way. @deltakosh, are there any known cases where it must be disabled (for a specific mesh)?

[2018-11-23 12:05] sebavan commented on #389
Adding @kcoley for review

[2018-11-23 12:06] sebavan commented on #381
Pinging @bghgary

[2018-11-23 12:09] deltakosh commented on #369
We decided to not use it as default because it is a rather expensive process that can make the exportation last forever

[2018-11-23 12:39] sebavan commented on #384
Our exporter devs are in vacation at the moment, so this will be check in about a week :-)

[2018-11-23 12:40] sebavan commented on #381
Our exporter devs are in vacation at the moment, so this will be check in about a week :-)

[2018-11-23 12:40] sebavan commented on #382
Our exporter devs are in vacation at the moment, so this will be check in about a week :-)

[2018-11-23 12:40] sebavan commented on #383
Our exporter devs are in vacation at the moment, so this will be check in about a week :-)

[2018-11-23 12:42] sebavan commented on #385
Our exporter devs are in vacation at the moment, so this will be check in about a week :-)

[2018-11-23 12:43] Selmar commented on #369
That's also the reason for having it per-mesh rather than as a global exporter option?

[2018-11-23 12:43] sebavan commented on #386
Sounds reasonable to me, @kcoley will be back in a week for review

[2018-11-24 12:31] Selmar commented on #369
Alright!

I guess we can close this one, @EtagiBI ?

[2018-11-26 04:18] #369 closed

[2018-11-26 11:51] EtagiBI opened #391 "[Max][glTF] Export folder becomes read only after export"
Hello,

Some models make export folder "read only" after export. Here's the console text:
![image](https://user-images.githubusercontent.com/20855725/49012328-e55af080-f19a-11e8-9d61-a2f17c744791.png)

Test model:
[Model.zip](https://github.com/BabylonJS/Exporters/files/2615351/Model.zip)

[2018-11-26 22:47] kcoley opened #392 "3dsMax export error"
Issue discussed here:
http://www.html5gamedevs.com/topic/41121-exporting-from-3dsmax-error/?tab=comments#comment-236208

[2018-11-26 23:31] kcoley commented on #392
Resolved

[2018-11-26 23:31] #392 closed

[2018-11-26 23:54] CyanCastro opened #394 "[Max] Exorted GLB is a different size than expected, scale on export doesn't seem to work"
I've been messing around with the BabylonJS exporter for 3ds Max 2018.  I am importing my GLBs into Occulus Home.

My files end up being very huge.  A 1 Meter cube is larger than the entire area of Occulus home.  If I create a cube at .01 Meters, then it will show up at about 1 meter in Occulus home.  I figured this wasn't a huge issue, so in the Babylon exporter I changed my scale down to .01, Ho

[2018-11-27 18:30] kcoley commented on #381
Hi @smasherknock .  Mac OS and Linux support have been discussed and there are plans on implementing it.  Though the delay is that the Maya exporter would have to be completely rewritten from scratch using either Python (leaning towards this) or C++.  Unfortunately work has not begun on this yet, as I have been resolving the standing issues with the current Maya and Max exporters.  However I plan

[2018-11-28 21:49] tkazik commented on #381
@kcoley Nice to hear that you are considering a rewrite! If I may jump on this discussion and add my two cents here: C++ seems to be the fastest, most stable and well-documented SDK, see:

https://forums.autodesk.com/t5/3ds-max-programming/using-python-and-max/td-p/6863447

Thank you for considering that...looking forward to your progress!

PS: I am more interested into Max than Maya :)

[2018-11-28 21:55] tkazik commented on #363
Also adding here the discussions of a forum post on autodesk: python vs C++

https://forums.autodesk.com/t5/3ds-max-programming/using-python-and-max/td-p/6863447

I would vote for C++ ;)

[2018-11-30 14:29] couch4 commented on #56
+4D

[2018-12-03 19:21] kcoley commented on #394
Hi @CyanCastro I'll take a look when I get some cycles.  I was OOF the other week and catching up on the issues while I was out.

[2018-12-03 19:22] kcoley commented on #391
@EtagiBI I'll take a look when I get some cycles.  I was OOF the other week and catching up on the issues while I was out.

[2018-12-03 19:23] kcoley commented on #389
Hi @Selmar I'll take a look when I finish up some pending issues.  I was OOF the other week so wasn't able to get back to issues.

[2018-12-04 05:17] halkmund opened #395 "Blender exporter exports wrong skeletonId"
Module: Blender Exporter.

**Steps to reproduce**:

In Blender:
Select a mesh and its armature in a scene with mutliple armatures.
Use the exporter in Export Selected.

Result: The babylon.js contains a skeleton with an incorrect skeleton ID. (e.g.: mesh.skeletonId = 2, skeleton.id = 0). The loader then fails to load the skeleton.

**Discussion**:

Cause: This is caused by lines 84 to 90 in the fi

[2018-12-04 15:43] tkazik opened #396 "[max][gltf] Issue with last frames of animation"
Hi folks

Another issue discovered recently: I noticed that the animation stops a bit early for the model (attached below) if using the frame slider. Please see the screenshot of the sandcastle for details:

![frame_issue](https://user-images.githubusercontent.com/15689124/49451481-8ec76500-f7df-11e8-8b63-190222799b5b.png)

As seen in the screenshot above, the slider for 'current frame' stops at f

[2018-12-04 18:31] Palmer-JC commented on #395
Good find.  I did not add export [Exported selected feature](https://github.com/BabylonJS/Exporters/commit/4da6f638e4a02d423910ab964a4cde3609983e8e#diff-875f5df5e6edddcfa7dbf0f20ad1b63d),

The fact that you could diagnose probably means that you could at least figure out that a work around of low impact is to just put the desired mesh onto a unique layer & use selected layers instead (assuming tha

[2018-12-04 23:46] kcoley commented on #396
@tkazik I'll take a look

[2018-12-04 23:49] kcoley commented on #378
@EtagiBI thanks for the feature request.  I think this is a good idea.  It would take me some time to get to it as I fix some pending bugs in the exporters, though if you think you can make a PR I would be happy to review it for merge.

[2018-12-05 01:31] kcoley commented on #396
@tkazik it looks like it does set the animation to 3.33 when you use the bottom slider, but it is not displayed in the inspector UI.  I created an issue here to track that bug fix: https://github.com/BabylonJS/Babylon.js/issues/5599

[2018-12-05 01:31] #396 closed

[2018-12-05 11:37] kristiansvenssonwsp opened #397 "[Max]binary babylon problem from 3ds max exporter 2019 - Max2Babylon-1.3.10"
Hi!

I'm using the the 2019 version of the 3ds max exporter. Version Max2Babylon-1.3.10
Im on Windows 10.

When I choose to export as "binary babylon" I can see that the exporter logs the message "Generating binary files" and the files seems to be generated in a temp folder. (Saving C:\Temp\xxxxx\Binary\xxx.binary.babylon) However in the next step only the .babylon gets copied, the .binary.babylon

[2018-12-05 18:43] kcoley commented on #397
@kristiansvenssonwsp I'll take a look

[2018-12-05 21:51] kcoley commented on #397
@kristiansvenssonwsp just merged a fix for this (https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/Max2Babylon-1.3.11.zip).  Feel free to reopen if the bug comes up again!

[2018-12-05 21:51] #397 closed

[2018-12-05 22:18] kcoley commented on #379
@EtagiBI I'll take a look

[2018-12-06 01:20] kcoley commented on #379
@EtagiBI just merged a fix for this (https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/Max2Babylon-1.3.12.zip)

Feel free to reopen if the problem comes up again

[2018-12-06 01:20] #379 closed

[2018-12-06 01:20] kcoley commented on #394
@CyanCastro do you have a sample scene file and gltf that demos the issue?

[2018-12-06 01:21] kcoley commented on #391
@EtagiBI I wasn't able to reproduce with the file you provided.  Is the issue still happening on your end?

[2018-12-06 07:31] kristiansvenssonwsp commented on #397
Thanks! It now copies the .binary.babylon to the output foilder. However there is another problem, the .babylonbinarymeshdata(which is referenced in the .binary.babylon) files dont get created and copied to the output folder. I'll start another issue regarding that.

[2018-12-06 07:36] kristiansvenssonwsp opened #401 "[Max] binary babylon problem from 3ds max exporter 2019 - Max2Babylon-1.3.12"
Hi!
A recent fix was made for "binary babylon" export:
https://github.com/BabylonJS/Exporters/issues/397

However there is another problem as well. When exporting to "binary babylon", one or several ".babylonbinarymeshdata"(which is referenced in the .binary.babylon) files should get created and copied to the output folder but they don't.

[2018-12-06 17:58] kcoley commented on #401
@kristiansvenssonwsp I'll make a fix to also export the .babylonbinarymeshdata file.

[2018-12-07 11:31] EtagiBI commented on #391
It seems that the problem was caused by source folder with MAX files. This folder was marked as read only. I removed the tick and everything worked.

[2018-12-07 11:31] #391 closed

[2018-12-07 12:34] EtagiBI opened #402 "[Max][glTF] Texture distortion"
Hello,

Some textures completely change their look after export. My export settings are as follows:
![image](https://user-images.githubusercontent.com/20855725/49648032-39d95800-fa46-11e8-894d-89f6374f92ef.png)

Test models:
[Model_to_Test.zip](https://github.com/BabylonJS/Exporters/files/2657216/Model_to_Test.zip)

[2018-12-07 18:51] kcoley commented on #401
@kristiansvenssonwsp just merged a fix for this (https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/Max2Babylon-1.3.13.zip)

[2018-12-07 18:51] #401 closed

[2018-12-09 21:49] cptSwing opened #405 "[Max] "Exportation cancelled: Object reference not set to an instance of an object." when exporting with DirectX shader"
Hey everybody. I am attempting to export a model that has a DirectX material applied in Max, set to "Interactive" (Stingray PBS) mode, and have a regular old Physical Material which in itself exports correctly set as it's Software Render Style. Not much happens on export:
![image](https://user-images.githubusercontent.com/18466732/49703358-54593000-fc04-11e8-8bfe-1d4371a6cfcc.png)

I'll gladly pro

[2018-12-10 15:15] kristiansvenssonwsp commented on #401
Thanks. Works well now!

[2018-12-12 02:16] kcoley commented on #383
@Ben-Mack this was trickier than expected, but I made an update to texture transform export for glTF.  Feel free to test and open an issue if you hit any other issues.

[2018-12-12 02:16] #383 closed

[2018-12-13 20:42] kcoley commented on #405
@cptSwing sorry for the delay, I'll take a look when I get some cycles on this.

[2018-12-13 20:43] kcoley commented on #382
@tkazik sorry for the delay, I'll take a look at this issue soon

[2018-12-14 19:10] Palmer-JC commented on #395
@halkmund I have made changes to a test of the exporter for Blender 2.80.  There is a fix for your problem, if you wish to run your .blend file through, & report results.  See forum [topic](https://forum.babylonjs.com/t/blender-eevee-cycles-testing/124/6).

Not actually running on 2.80, yet so test on 2.79.  The major changes are to processing of cycles materials.  If you are using internal render

[2018-12-14 21:49] kcoley commented on #382
Hi @tkazik I just merged a fix for this: https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/Max2Babylon-1.3.15.zip

[2018-12-14 21:49] #382 closed

[2018-12-14 22:32] kcoley commented on #385
@echadwick-wayfair @Selmar I'll take a look at this after fixing texture cloning

[2018-12-14 23:07] kcoley commented on #402
@EtagiBI it looks like you are using a Standard Material.  For glTF is preferable to use a Physical Material.  Otherwise, it attempts to modify the textures to convert Standard Materials to PBR Materials, which may not look as expected.  Here are some docs on generating glTF files with the Babylon 3ds Max exporter: https://doc.babylonjs.com/resources/3dsmax_to_gltf#pbr-materials

[2018-12-14 23:07] #402 closed

[2018-12-14 23:35] echadwick-wayfair commented on #385
Thanks Kacey!

Initial reasoning was to tile Roughness and Metalness but not AO.

For example a red plastic table with tiled "fingerprints/scratches" roughness, and a tiling goldleaf pattern requiring tiled metalness and albedo.

But also interested in tiling Roughness but not tiling AO and Metalness. Start with the same example red table, except now it has metal feet, so the Metalness needs to us

[2018-12-15 11:48] Ben-Mack opened #409 "[Max][glTF] Problem when multiple textures (pointing to the same image) has different transform"
In a scene with multiple textures pointing to the same image, but each one has a different transform value, then gltf output will be wrong (same transform value on these textures). Babylon format output is correct, please see these screenshots:

Original file in Max, left plane has tiling value of 1.0, the right plane has tiling value of 2.0, both pointing to the same image:
![max](https://user-im

[2018-12-17 21:31] kcoley commented on #409
@Ben-Mack just merged a fix for this: https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/Max2Babylon-1.3.17.zip

[2018-12-18 00:53] kcoley commented on #386
@EtagiBI I just merged a fix for this (https://github.com/BabylonJS/Exporters/pull/411)

[2018-12-18 00:53] #386 closed

[2018-12-18 03:06] Ben-Mack commented on #409
Thank @kcoley for very quick update!
But the problem still exist in the latest version v1.3.18, can you recheck it?

[2018-12-18 06:51] kcoley commented on #409
@Ben-Mack interesting, sure I'll double check.  Do you have a sample max scene that repros the issue?

[2018-12-18 06:55] EtagiBI opened #412 "[Max][glTF] Convert bump maps to normal maps"
Hello,

According to GLTF specifications bump maps aren't supported. I can confirm that all bump maps applied to meshes in 3DS Max produce ugly metallic effect in exported GLTFs. It would be very useful to convert bump map to normal map either in Babylon properties or during export.

[2018-12-18 07:54] Ben-Mack commented on #409
Yes, my material setup is different.

This issue will occurs if you use StandardMaterial (work fine on PhysicalMtl though).

[2018-12-18 15:18] deltakosh commented on #412
Hello. They are exporters only. We do not want to update assets on behalf of the artist. They are several tools already available that can do the conversion:)

[2018-12-18 15:18] #412 closed

[2018-12-18 15:48] halkmund commented on #395
@Palmer-JC  Running the original .blend file through the 6.0 alpha resulted in "Animation does not have a .to_scene_file() method". So the export failed. After deleting my animations the resulting babylon file did not contain the SkeletonId attributes anymore so I could not check if your fix works. I think we probably wait until 6.0 is more stable to test the skeleton ID fix. It will be a trivial

[2018-12-18 19:35] kcoley opened #413 "Max exporter not exporting meshes with multi materials in shell slot"
https://forum.babylonjs.com/t/max-exporter-dont-export-meshes-with-multi-materials-in-shell-slot/304

[2018-12-18 20:17] kcoley commented on #409
@Ben-Mack I just made another update, which should now allow StandardMaterials to export.  Let me know if you hit any other issues!

[2018-12-18 20:17] #409 closed

[2018-12-19 02:19] Ben-Mack commented on #409
I confirm this issue is solved. Thank you!

[2018-12-19 05:55] EtagiBI commented on #412
Ok, I see.
I would like to clarify one thing though. In documentation it says "The bump map (or normal map) and its weight are used.". When I export a model with Bump map, I get an ugly metallic cover on my model. When I export a model with Normal map, I get the error: "Texture type is not supported. Use a Bitmap instead.". That's confusing =/. What should I do to keep bump effect after export?

H

[2018-12-19 22:42] kcoley commented on #385
@echadwick-wayfair I made an update to have AO tiled differently from Roughness and Metalness.

Roughness and Metalness are assumed to be one texture in glTF and BabylonJS, so unfortunately I was not able to have them separately tileable.

Feel free to raise an issue if you hit any problems with this!

[2018-12-19 22:42] #385 closed

[2018-12-20 04:07] EtagiBI commented on #412
It would be nice to know a correct node setup for normal maps then. Standard scheme "Bitmap->Normal Bump -> Material" doesn't work with exporter.

[2018-12-21 09:54] lc8882972 opened #417 "Y, Z axis reversal"
[Max][gltf]Do you support Y, Z axis reversal?

[2018-12-21 12:51] sebavan commented on #417
ping @kcoley . Please expect a bit of delay on the answer due to the holiday season.

[2018-12-21 21:31] kcoley commented on #417
Hi @lc8882972 , can you explain more on what you mean by Y Z axis reversal?

[2018-12-22 05:52] kcoley commented on #417
@lc8882972 gotcha,
glTF uses a right-handed coordinate system: https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#coordinate-system-and-units

In this case, the axis for X, Y and Z are strictly defined so an axis reversal is not needed.  glTF importers should treat the file as if it were right-handed.

The obj file format does not have a specified handedness.  The Y, Z axis reversa

[2018-12-22 05:52] #417 closed

[2018-12-27 03:01] Ben-Mack opened #419 "[Max][glTF] URIs should be percent-encoded?"
According to [glTF URIs specs](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#uris):

Currently Max glTF Exporter does not encode special characters in URI, so the viewer will fails if URI contains unsafe url character.

![uris-404](https://user-images.githubusercontent.com/6309393/50463283-6507f500-09bd-11e9-8b4e-2e6debdf57b9.PNG)

[2018-12-27 05:44] kcoley commented on #419
Hi @Ben-Mack.  Which special characters are being used in the generated glTF?  Do you have a sample file?

[2018-12-27 07:31] Ben-Mack commented on #419
Please download the generated glTF here: [babylon bug special character.zip](https://github.com/BabylonJS/Exporters/files/2711759/babylon.bug.special.character.zip)

Just a `#` in texture file name (like `#sample.jpg`) can break the sandbox with error `404 not found`, but only when the Sandbox was opened by `Export and run` command.

File can be open successfully if I manually drag & drop these ge

[2018-12-28 01:58] clayrain commented on #255
Hi, same issue. Fresh Maya 2018 (was fresh when installed last year, not upgrade). Windows 10 64bit. When clicking LOADED get the following error:

// Error: file: C:/Program Files/Autodesk/Maya2018/scripts/others/pluginWin.mel line 290: Invoking ExecuteInDefaultAppDomain() failed. //
// Error: file: C:/Program Files/Autodesk/Maya2018/scripts/others/pluginWin.mel line 290:  (Maya2Babylon.nll) //

[2018-12-28 07:45] kcoley commented on #419
@Ben-Mack in this case, I ended up having to change the name of the output textures for "Export and run" to work as expected.  I just merged a fix for this.  It will replace special characters with "_" as well as produce a warning about the name modification in the output log.

[2018-12-28 07:45] #419 closed

[2018-12-28 09:15] Ben-Mack commented on #419
Thank @kcoley for the quick fix!

May I ask a question, why you use this approach instead of something like `Uri.EscapeDataString` - which I think is more universal?

[2018-12-28 21:02] kcoley commented on #419
@Ben-Mack thanks for the suggestion, I agree that `Uri.EscapeDataString` is a much better fix for this, though this too also causes an error when using `Export & Run`:

![image](https://user-images.githubusercontent.com/3946928/50527915-39aa0680-0aa0-11e9-9c13-8087ff35ea49.png)

![image](https://user-images.githubusercontent.com/3946928/50527928-4d556d00-0aa0-11e9-9961-14ff8c6eca44.png)

However,

[2018-12-31 12:24] gsrmeen opened #422 "Incorrect indices when saving to json"
I already described my problem here:

https://stackoverflow.com/questions/53987062/exporting-blender-mesh-to-json-with-babylon

[2019-01-02 18:02] kcoley commented on #405
Hi @cptSwing do you have a sample scene that repros the issue?

[2019-01-02 22:02] echadwick-wayfair opened #423 "Max2Babylon: can't export bitmap in a Physical Material"
Max2Babylon-1.3.23
3ds Max 2018.4

This seems like something new. Maybe a bad commit?

1. Create a Plane primitive.
2. Create a Physical Material, assign it to the Plane.
3. Add a bitmap to the material.
4. Export.
Result attached. If I remove the bitmap, it exports without errors. Tried it with different bitmaps, JPG, PNG, same error.

![image](https://user-images.githubusercontent.com/40177036/5

[2019-01-02 22:04] echadwick-wayfair commented on #423
It's also spawning a warning about KHR_texture_transform, even though the Bitmap uses default settings. There seem to be no Offset/Tile/Angle settings that should call for the extension.

[2019-01-02 22:11] echadwick-wayfair commented on #423
Tested with Max2Babylon-1.3.21... the red error is not spawned, but the KHR_texture_transform warning is still being spawned.

[2019-01-02 22:16] echadwick-wayfair opened #424 "Max2Babylon request: version number in exporter window?"
It would be helpful to see the exporter version number in the exporter window.

I take a screenshot to share error messages, but also to document which options were used with a file, so having the version info would help if I need to reproduce a specific export.

It would also help to determine if someone is using an out-of-date exporter.

[2019-01-02 22:18] kcoley commented on #423
@echadwick-wayfair I'll take a look

[2019-01-02 22:49] kcoley commented on #424
@echadwick-wayfair you read my mind, I was thinking of adding that to the exporter window title.  I'll see if I can get an update for that today too.

[2019-01-02 22:58] kcoley commented on #423
@echadwick-wayfair I was able to get the bmp to export from your provided scene by re-assigning the material to the mesh, though I'm not sure why that fixed it.  This was done with version 1.3.23.  Can you try that on your end?

I also tried to follow the creation steps you outlined using your source bmp with a new scene, but I was not able to repro the issue that way.

As for the KHR_texture_tran

[2019-01-02 23:37] kcoley commented on #424
@echadwick-wayfair just merged an update for this: https://github.com/BabylonJS/Exporters/pull/425

[2019-01-02 23:37] #424 closed

[2019-01-03 01:20] kcoley commented on #422
@gsrmeen the indices seem to be correct.  Based on your question, here is a sample playground which constructs the cube based on the indices and positions from the babylon file:

https://playground.babylonjs.com/#0YHD7Y

For your custom tool, you may need to take into account handedness.  Babylon.js is left-handed by default, so the indices and positions are assuming you are in a left-handed coord

[2019-01-03 01:20] #422 closed

[2019-01-03 02:00] kcoley commented on #422
@gsrmeen btw, triangles 5 and 11 in your post will create one of the faces of the cube:

![vertindices](https://user-images.githubusercontent.com/3946928/50621049-42dc0e80-0eb8-11e9-920a-fac443b321e3.jpg)

[2019-01-03 19:43] echadwick-wayfair commented on #423
Nope that wasn't it. Installed & Unblocked 1.3.24, but it still occurs. Won't write a GLB. Have to revert back to .21 for now to get a project done.

[2019-01-03 19:48] echadwick-wayfair commented on #423
Actually, 1.3.22 works.

[2019-01-03 22:42] kcoley commented on #423
@echadwick-wayfair it seems to be an issue with exporting to glb, when converting textures to binary.  I am looking into a fix.

[2019-01-03 23:37] kcoley commented on #423
@echadwick-wayfair I found the issue and merged a fix.  It was how I was handling uri paths .  Feel free to try on version 1.3.25.

[2019-01-03 23:37] #423 closed

[2019-01-04 16:36] echadwick-wayfair opened #427 "Max2Babylon Export & Run: point to new Khronos viewer instead of Sandbox?"
3ds Max 2018.4
Max2Babylon 1.3.22

The "Export & Run" button currently spawns the Sandbox viewer.
https://sandbox.babylonjs.com/?assetUrl=http://localhost:45478/myfilename.glb

But we would prefer it spawn the new reference viewer.
http://gltf.ux3d.io/

For these reasons:
1. Punctual light is needed to evaluate the model and material.
2. The sandbox IBL is very colorful which makes it difficult to

[2019-01-04 18:02] echadwick-wayfair commented on #423
It works now, thanks for the fix!

[2019-01-04 18:07] echadwick-wayfair opened #428 "Create a 3ds Max and Maya importer for glTF/glB"
We would like a method to unpack and import GLB files into 3ds Max.

Ideally the textures would be unpacked into separate files, the meshes imported into 3ds Max, and it would create Physical Materials with the textures plugged in.

See also #184.

[2019-01-04 23:58] kcoley opened #429 "3dsMax: uri with spaces causes glb export to fail"
Referenced here:
https://forum.babylonjs.com/t/cant-export-with-1-3-24-version/540/2

[2019-01-05 00:05] kcoley commented on #429
Merged a fix

[2019-01-05 00:05] #429 closed

[2019-01-05 00:14] kcoley commented on #427
@echadwick-wayfair we can probably add an option to do this, though do you know if the reference viewer accepts url parameters?

[2019-01-05 02:15] #413 closed

[2019-01-06 17:06] echadwick-wayfair opened #432 "Max2Babylon bug: base color value + transparency texture = black albedo?"
3ds Max 2018.4
Max2Babylon v1.3.25

1. Create a Physical Material.
2. Set the base color swatch to red.
3. Connect a texture to the Transparency Map input.
4. Apply to a mesh.
5. Export & Run.

Result: The albedo is exported as black.
Intention: The albedo should be red?

[2019-01-07 12:47] cptSwing commented on #405
Hey @kcoley please excuse the late reply - I'll whip something up hopefully later today or tomorrow. Are you having trouble reproducing the error?

[2019-01-07 17:50] kcoley commented on #405
@cptSwing no problem!  Yes, I'm having trouble reproducing the error.  As another check, can you try against the latest version of the exporter to see if the error is still happening?

[2019-01-07 17:57] kcoley commented on #432
Hi @echadwick-wayfair .  I just tried against v1.3.27 and was not able to repro the error.  Can you try against that version?  If the error still comes up, could you provide a sample scene?

[2019-01-08 02:10] kcoley commented on #389
Hi @Selmar do you have a sample file that repros this?

[2019-01-08 10:15] Selmar commented on #389
Not anymore, unfortunately. Also, anyone who encounters this would likely dismiss it as "one of those weird one-time problems", so I also doubt we'll ever get a useful bug report for it.

[2019-01-08 21:45] echadwick-wayfair commented on #432
256-color BMP texture seems like it might be the cause of the problem. But it's inconsistent, I can't reliably repro the bug.

I had chosen the tiger.bmp file in the 3ds Max \maps\ folder to test with originally. Sometimes that causes the exporter to fail creating the material, but sometimes now.

I created a different new BMP, convert to paletted in Photoshop and saved as BMP. Sometimes it would

[2019-01-09 01:16] kcoley commented on #432
@echadwick-wayfair are you able to repro this issue with other texture formats like png or jpg?  If it is BMP specific, it may be an issue with how 3ds Max is internally doing texture conversion.  Otherwise, it may be better to generate 8 bit pngs instead.

[2019-01-09 07:42] Remi-Tribia commented on #367
Hi,
The fix works great, though I noticed a side effect I haven't anticipated...
Consider a transparent material, without diffuse map (only transparency map) and RGB color. Since the transparency map is applied to the alpha of the diffuse map, the exporter generates a PNG `baseColorTexture` with the RGB color specified but still keeps the RGB color value in `baseColorFactor`, so the result is `col

[2019-01-09 18:50] cptSwing commented on #405
Alrighty, here we are. I get the identical error using latest Babylon exporter, I'm afraid. It's not a showstopper, using a Shell material for viewport preview while being able to export works too now.

[babylon_test.zip](https://github.com/BabylonJS/Exporters/files/2742153/babylon_test.zip)

[2019-01-09 21:37] cptSwing commented on #405
Ok it seems I spoke too soon - using a Multi/SubObj Material, which in turn is fed by Shell Materials with both a DirectX shader (for my Max viewport) and a Physical Material for exporting.. fail as well.

[2019-01-10 12:47] Selmar commented on #389
I suppose you could "repro" it by modifying the function that creates the GUID to sometimes generate an identical one?

GUID conflicts should be very rare to begin with. It does not seem unlikely to me that the GUID value in the appdatachunk is copied when an object is cloned, as mentioned in the original post. This would make sense, thinking about the bug that caused me to track down the issue.

[2019-01-10 14:18] cptSwing commented on #335
^ That script only works on Standard materials, correct? No custom attribute will show up on my Physical Materials, anyway.

[2019-01-14 18:22] kcoley commented on #405
@cptSwing gotcha, I'll take a look

[2019-01-14 18:25] kcoley commented on #384
@Ben-Mack @Selmar sorry for the delay in response.  After doing some testing with this, it looks like mapping a multi-material to another multi-material causes issues with the exporter since this does not map well to babylon.  If you export to babylon file format instead of glTF, you will see that this does not work as expected.  In this case, it would be better to use one multi material.  I will

[2019-01-14 18:37] kcoley opened #436 ""tag" should be "tags" in Max exporter"
Original issue here: https://forum.babylonjs.com/t/3dsmax-export-to-gltf-with-tags/686/6

[2019-01-14 19:15] kcoley commented on #436
Resolved

[2019-01-14 19:15] #436 closed

[2019-01-14 19:39] kcoley commented on #405
@cptSwing looks like this model is missing textures.  Would you be able to send them?

[2019-01-14 20:34] kcoley commented on #389
@Selmar that makes sense.  This seems to happen rarely, so I think we can close this for now.  But if it becomes a bigger issue, feel free to reopen this.  Otherwise, it may be tricky to ensure all guids are always unique across different authoring scenarios. Thanks for flagging!

[2019-01-14 20:34] #389 closed

[2019-01-14 21:52] TyLindberg commented on #70
Would also love to see this implemented in the Maya exporter to improve standardization across the board. Right now it's difficult to guarantee the export scale, since the certain artists may work in different scales in the editor.

[2019-01-14 22:55] sbtron commented on #387
Closing as no repro. If there is more info on original asset please reopen

[2019-01-14 22:55] #387 closed

[2019-01-14 22:57] #365 closed

[2019-01-15 00:47] kcoley commented on #384
Just merged an update for this.  The exporter would now display a warning and not export the sub-multi-material.

[2019-01-15 00:47] #384 closed

[2019-01-15 09:44] Selmar commented on #368
Closing! Although there are some more things I would like to implement, the basics are there.

[2019-01-15 09:44] #368 closed

[2019-01-15 23:51] kcoley commented on #359
@VentuzDennisDworak sorry for the delay, but this took me longer than I expected to trace down.

It turns out that the scene you sent me has a Bip001 node excluded from export in the Babylon.js Animation Groups menu.  To get the animation to work as expected, the node would have to be included in the animation group by selecting "Include Node" in the right-click menu.  Here is a reference screensh

[2019-01-15 23:51] #359 closed

[2019-01-16 19:08] kcoley commented on #405
@cptSwing I just merged a fix for the error, which was caused by an undefined DirectX material property.

[2019-01-16 19:08] #405 closed

[2019-01-16 22:33] Palmer-JC commented on #328
Custom split normals has been added on the EEVEE branch of the repo.

[2019-01-17 13:59] readyforchaos commented on #56
+1

[2019-01-21 10:25] EtagiBI opened #441 "[Max] Bump / Normal Maps Support Clarification"
In documentation it says "The bump map (or normal map) and its weight are used.". When I export a model with Bump map, I get an ugly metallic cover on my model. When I export a model with Normal map, I get the error: "Texture type is not supported. Use a Bitmap instead.". That's confusing =/. What should I do to keep bump effect after export?

It would be nice to know a correct node setup for norm

[2019-01-21 10:36] Turtleted21 opened #442 "Maya exporter "texture not supported""
Hello,
I use Maya 2017 and I have this error when I export, I use a jpeg file.
![exporter](https://user-images.githubusercontent.com/46889785/51469046-a4cdbc80-1d70-11e9-9d34-ff571579e70d.jpg)

Thanks

[2019-01-21 10:44] Turtleted21 commented on #442
I see you have a extension for Maya 2017, where I must copy .cs files?

[2019-01-27 16:31] Troxid opened #446 "Unity Exporter; Wrong direction of babylon's `Spot light`"
**Exporter**: Unity - Version 4.0.0 - Alpha 10

When `Spot light` is used in the parent and its parent get transform - an exported direction is wrong.

Unity scene and right light direction (pink arrows):
![capture1](https://user-images.githubusercontent.com/3336378/51803262-3010eb80-2264-11e9-9522-7e7266a609f6.PNG)

Exported scene:
![capture2](https://user-images.githubusercontent.com/3336378/518

[2019-01-28 05:16] kcoley commented on #441
Hi @EtagiBI . You should be able to attach a bitmap node referencing a normal map to the bump map input of the Physical Material:
![image](https://user-images.githubusercontent.com/3946928/51815502-2ee8ba00-2276-11e9-9c81-3b4941563cb3.png)

Here is a sample project:
[NormalMapTest.zip](https://github.com/BabylonJS/Exporters/files/2801495/NormalMapTest.zip)

Are you trying to use a normal map or a

[2019-01-28 05:18] kcoley commented on #442
Hi @Turtleted21 , do you have a sample scene that repros the issue?
What do you mean by copying the .cs files?

[2019-01-28 08:50] EtagiBI commented on #441
Hi,

Hmm. I always use Standard Material, because 99% of 3DS Max models we get from our contributors have Standard materials. Do you mean that Normal maps're incompatible with Standard material?..

Here're the models again:
[CUBES.zip](https://github.com/BabylonJS/Exporters/files/2802085/CUBES.zip)

[2019-01-28 20:52] kcoley commented on #441
@EtagiBI thanks for the sample model.   Standard Materials work as well.  If you plan on exporting to glTF, the exporter has to do some value conversions to try to approximate a physically-based material, which glTF expects, so the resulting files may not look exactly the same as authored.

Currently, the exporter does not handle the Normal Bump node.  The error in the log is misleading since it i

[2019-01-29 19:47] kcoley commented on #441
@EtagiBI gotcha, I agree the workflow tips should be added to the 3ds Max documentation.  I made a PR on updating the documentation here: https://github.com/BabylonJS/Documentation/pull/1402

[2019-01-29 19:47] #441 closed

[2019-01-30 00:49] davidzwa opened #447 "Renamed C# EditorScript causes .ts file to not be updated"
If I rename an EditorScript it wont be updated and the Babylon export fails with:
`Error occurred in onSucces` which is caught by the general Babylon error handler.
I can do what I want, but there is no option to fix it unless delete the file (even moving it doesnt work, but that is probably because it doenst change namespace)

Any idea what might be wrong? It seems to be related to the fact that

[2019-01-30 01:46] davidzwa opened #448 "[Unity] export sometimes fails"
Sometimes the exporter seems to trigger the preview too soon and the scene is not served:
![image](https://user-images.githubusercontent.com/6005355/51952447-d6154f00-2438-11e9-8777-08ae1dc681ed.png)
Sources:
![image](https://user-images.githubusercontent.com/6005355/51952492-fe04b280-2438-11e9-926a-c05eb2289fb7.png)
And after a reload it works fine, so it seems to me the exporter skips a job (may

[2019-01-30 02:14] deltakosh commented on #447
Pinging @MackeyK24

[2019-01-30 05:20] MackeyK24 commented on #447
The class name for the C# should be same as file name of .cs editor script component.

The .ts file doesn’t really matter, but I like to keep the file names the same for the .cs/.ts pair.

What matters is the class name you create for the typescript class. That gets set in the construction of the c# class. The property is called babylonClass. That’s is what links the editor script to the backing B

[2019-01-30 07:39] Remi-Tribia opened #449 "[3ds] Faces missing when multimaterial is applied (even with Export Materials OFF)"
Hi!
I've noticed some strange behavior when exporting a simple model. When there's no material applied to it, everything exports fine, but it's missing faces when there's a material on it!? Here are some screenshots:

With material (Physical Mat):
![image](https://user-images.githubusercontent.com/40400644/51965225-142a6700-2469-11e9-9e2d-26397dbd9ce7.png)

Without material:
![image](https://user-

[2019-01-30 14:55] davidzwa commented on #447
Same here, setting up a repo [Github repo](https://github.com/davidzwa/BabylonUnityLearnings)

[2019-01-30 15:21] davidzwa commented on #447
https://github.com/davidzwa/BabylonUnityLearnings/tree/master/RollABall

[2019-01-30 17:07] kcoley commented on #449
Hi @Remi-Tribia .  Did you try against the latest version of the 3ds Max exporter? (version 1.3.32).  Or do you have a sample scene?  I am having trouble reproducing the issue.

Is your scene set up similar to this test scene I created?:
[redBlueTest.zip](https://github.com/BabylonJS/Exporters/files/2813656/redBlueTest.zip)

[2019-01-30 21:21] davidzwa opened #450 "Unity exporter Tag with spaces incorrectly split up"
Tags are incorrectly split up when they have a space in Unity.
In Unity it is only 1 tag, so it should stay that way.

![image](https://user-images.githubusercontent.com/6005355/52013461-6c9b4c00-24dd-11e9-931a-ed2c41df501b.png)

[2019-01-31 01:08] Karttridge commented on #296
@echadwick-wayfair

Hi :) ,

I didn't know that was possible to have something this good  in 3dsmax viewport. Can you share your shaderFx file ? That would be awesome :o.

Sorry to post here

Ty

[2019-01-31 12:09] davidzwa opened #451 "[Unity] UI/Canvas design time + updating GUI from TS"
**TL;DR**
Could we introduce the unity Canvas/UI designer to the scene API somewhere in the toolkit as a GUIComponent (derived from a BABYLON component, of course)?

**The Question context**
So I'm wondering, in Unity we have an awesome way of designing a Canvas in 2D or 3D (yeah confusing: call it GUI canvas). Would it be possible to leverage this design awesomeness and create a Babylon interface

[2019-02-01 00:45] davidzwa opened #452 "Example project (space shooter, rollaball)"
Is there are sample project to work with?
For example https://www.babylontoolkit.com/projects/spaceshooter/

[2019-02-04 18:58] Bulisor opened #453 "Add meshes metadata on export as GLB"
Here is the discussion:
https://forum.babylonjs.com/t/add-metadata-on-glb-export/1046/7.
The ideea is if we export a mesh which has metadata on it, on export as GLB try to keep these metadata somewhere so on import it again to get same infos.

[2019-02-07 22:37] ogmasoul3d commented on #180
I get exactly the same problem when I run max in a amazon ami instace win10 and max2019.

I tried to add/remove all dependcies to this plugin in the /bin/assemblies/ folder

And all of them works except when i put max2babylon in there.

Then when I start max and close it directly without doing anything I get the same error on my virtual machine.

I do not get this problem on my local machine thoug

[2019-02-07 23:34] PatrickRyanMS opened #454 "Maya: Keys that don't change value in a clip are exported as identity"
# Animation Issue
There is an issue with the Maya exporter with **node animation** that if the keyed transform value does not change over the duration of the clip when exporting animation groups. *Note this is not an issue with skinned animation as the bones seem to respect keyed TRS values even when they don't change within an animation group.*

For example, you have a node that is keyed to trans

[2019-02-07 23:44] deltakosh commented on #180
We plan to soon switch to Python so this error should be gone

[2019-02-10 09:39] coldestheart opened #455 "Plugin does not match the current architecture (Maya2Babylon.nll)"
// Error: file: /Applications/Autodesk/maya2018/Maya.app/Contents/scripts/others/pluginWin.mel line 909: does not match the current architecture (Maya2Babylon.nll) //

I was tried to recompile it from source with monodev, but still have the same error.

Using High Sierra 10.13.6

[2019-02-10 14:20] deltakosh commented on #455
We are currently only supporting windows. We plan to add support for MacOS in the future though

[2019-02-10 14:20] #455 closed

[2019-02-11 03:07] kcoley commented on #454
@PatrickRyanMS just merged a fix for this.  The exporter was determining that an animation group with only two keyframes of the same value were not valid.  I made an update to allow this case to export.

[2019-02-11 03:07] #454 closed

[2019-02-11 14:28] davidzwa commented on #452
Still quite interested @MackeyK24

[2019-02-11 19:12] weshuiz opened #457 "blender 2.7.9"
you asume that you hvae the latest of blender
indeed 2.80 is indeed the newest version of blender
but blender 2.8.0 is open beta and not a stable release yet
my request is for blender 2.7.9 exporter i do not want to update to a unstable version
just to get the model converted please make/get a 1.7.9 version (back)

[2019-02-11 20:04] Palmer-JC commented on #457
The last version for Blender 2.79, exporter version 5.6, is also available in the same [directory](https://github.com/BabylonJS/Exporters/tree/master/Blender).

Since a zip file does not make any changes to the files, you may un-zip them & edit if you wish.  The repo no longer breaks them out.  This zip file will be moved to the deprecated directory once 2.80 put into production.

Also, 2.80 has b

[2019-02-11 20:05] #457 closed

[2019-02-11 20:29] #328 closed

[2019-02-12 07:22] Feierdeifi commented on #454
Nice! Thank you very much.

[2019-02-14 18:49] spkopa opened #459 "Maya Exporter = Animation Ghosts Frames being added on export"
Hey guys,

So recently been experimenting with the exporter from Maya version 2018.4

Found out the exporter is adding a keyframe at the end of the animation. This is preventing exports that allow for smooth loops. Because you get a ghost keyframe that causes a hiccup in the playback.

Any help on this would be appreciated.
Thanks!
-Sk

[2019-02-14 19:17] deltakosh commented on #459
Can you share a sample file?

[2019-02-15 18:05] spkopa commented on #459
Hey Deltakosh,

Here is the outputted version to Babylon

https://www.babylonjs-playground.com/#0CSD1T#114

Showing the loop bug in animation from the ghost frames.

[2019-02-15 18:28] deltakosh commented on #459
Can we get the initial 3d file?
@kcoley do you have any free cycles? (pretty please?)

[2019-02-15 23:33] spkopa commented on #459
Your wish is granted!

https://github.com/spkopa/GLTF_Sandbox/tree/master/Assets/Maya_Scenes

Maya version 2018.4

There is a baked out version of the particles, using instances. In a grp called instancer1_geo_grp

If you export that using the Babylon exporter, you will get the ghost frame.

Thank you for the help!

[2019-02-16 03:29] kcoley commented on #459
Hi @spkopa .  Did you try manually setting an animation group to the frame range you want to export?: https://doc.babylonjs.com/resources/maya_to_gltf#how-to-export-multiple-animation-clips-to-gltf-format

I'm having trouble reproducing the issue, though is it only coming up with baked particle animations?

[2019-02-19 23:07] spkopa commented on #459
Hey @kcoley,

Thanks for checking this out. I'm not sure about the animation group frame range matching the export. I will test this out with something much more simple to see if I can repro the bug.

Thank you!

[2019-02-21 15:01] echadwick-wayfair opened #460 "Max2Babylon: Invalid Rank passed to CreateTreeNode"
Edit for specs:
3ds Max 2018.4
Max2Babylon 1.3.32

Getting these errors consistently on export. I think we talked about this before, sorry I can't find the last thread on this.

Scene is very simple. Plane primitive, with Physical Material, with four JPG textures, all default settings except Base Color swatch changed to white instead of default gray. No UV adjustments made in the bitmap settings.

[2019-02-21 15:47] echadwick-wayfair commented on #460
Here's a repro example.
![test_export_log](https://user-images.githubusercontent.com/40177036/53181711-14c8a000-35c6-11e9-9615-45af1f67e0fa.jpg)
[Invalid-Rank-passed-to-CreateTreeNode.zip](https://github.com/BabylonJS/Exporters/files/2889975/Invalid-Rank-passed-to-CreateTreeNode.zip)

[2019-02-21 15:52] echadwick-wayfair commented on #428
I've figured out a way to do this, but it's cumbersome.

Open Asset Import Library https://github.com/assimp.

assimp export mymodel.glb -ffbx
\\ converts a glb into a fbx model.

assimp extract mymodel.glb
\\ extracts textures from a glb, in their native format (jpg or png).

We would love a native importer!

[2019-02-21 16:22] deltakosh commented on #460
Pinging @kcoley

[2019-02-21 16:23] deltakosh commented on #428
Yeah I would like to get a simpler way. We are actively hiring a dev to help us on the exporter/importer :)

[2019-02-22 04:50] kcoley commented on #460
@echadwick-wayfair I just merged a fix for this: https://github.com/BabylonJS/Exporters/pull/461

[2019-02-22 04:50] #460 closed

[2019-02-22 19:09] spkopa commented on #459
Hey @kcoley,

I think I found the bug,

So it doesn't appear to be related to time-frame range set on the timeline or even the animation group.

If your settings in the maya Prefs are set to 30fps, you will get the hiccup on export. But if it is set to 60fps. There appears to be no hiccup.

Still testing this out completely but this seems to be it.

[2019-02-26 12:31] davidzwa opened #462 "[Unity] Secondary texture not exported"
Unity's secondary albedo texture is not used, but can very easily be used to tile the texture.
Unity merges the secondary texture, but I see no advantage for that in BabylonJS.

This can be mimicked by overriding the texture once given and using the uScale and vScale on the material in the scene to map the tiling X and Y from Unity. This way the designer does not have to attach a Mesh Component, E

[2019-02-26 14:56] #304 closed

[2019-02-26 14:56] kcoley commented on #459
@spkopa nice find, I can try to take a look at the code to see how FPS is handled

[2019-02-26 14:58] #285 closed

[2019-02-26 14:59] #333 closed

[2019-02-26 15:00] deltakosh commented on #363
#381

[2019-02-26 15:00] #363 closed

[2019-02-26 15:01] #395 closed

[2019-02-26 15:03] deltakosh commented on #427
Hey !

1. This could be an option of the sandbox
2. You can change the IBL image by drag and dropping a new one in the sandbox after having loaded your scene
3. The sandbox has tons of debug feature in the inspector. If you find some that may be missing I will gladly add them

Closing for now as we do not plan to add the reference viewer as default loader

[2019-02-26 15:03] #427 closed

[2019-02-26 15:05] #442 closed

[2019-02-26 15:06] #447 closed

[2019-02-26 15:07] deltakosh commented on #449
Closing for no activity

[2019-02-26 15:07] #449 closed

[2019-02-26 15:08] deltakosh commented on #459
Thanks a lot @kcoley

[2019-02-26 15:09] deltakosh commented on #95
Closing as we do not plan to support them

[2019-02-26 15:09] #95 closed

[2019-02-26 21:23] spkopa commented on #459
@kcoley  @deltakosh , Thank you both.

Still digging around on my side as well to see if there is anything else to gleam. Will post updates if so.

Much appreciated!
-Sk

[2019-02-27 18:08] TyLindberg opened #463 "[Maya] Opacity value inverted"
In Maya, when the opacity value is below one on a PBSStringrayMaterial, the opacity value on the exported material is (1 - opacity) rather than opacity.
Edit: Will open new issue with example files and images.

[2019-02-27 18:12] #463 closed

[2019-02-28 05:44] kcoley commented on #459
@spkopa this line looks suspicious:
https://github.com/BabylonJS/Exporters/blob/6843fe4f52e855065c0db5576dbaebec08363390/Maya/Exporter/BabylonExporter.Animation.cs#L327

Though you mentioned that fps looks bad when set to 30 fps in the Maya preferences.  What kind of behavior are you seeing (staggering animation, non-looping, etc)?

[2019-02-28 18:03] spkopa commented on #459
@kcoley

interesting, So in the tests I was running. I was getting the stuttering, non-looping aspects at 30fps, But running those same tests in 60fps seemed to work. With nothing being done to the animation itself.

I got pulled onto other things. But let me see about setting up a scene that can prove this out easily.

[2019-02-28 18:38] spkopa commented on #459
@kcoley

Ok, So just ran a fresh setup of a test scene to repro. Found out that it was a false positive on my side with the animation being switched between 30 and 60fps.

The way I was able to reproduce the bug is this.

Create cube
Animate on Y from (Frame 1 = 0) to (Frame 120 = 360)

If you export at 30fps or 60fps. No bug

But if you change your time slider to be anything above 120
![hiro_temp

[2019-02-28 18:54] spkopa commented on #459
@kcoley

Posted the maya files here.

https://github.com/spkopa/GLTF_Sandbox/blob/master/Assets/Maya_Scenes/Maya_Babylon_Exporter_01_30fps_Not_Working_Time_Slider_Set_120by180.mb

https://github.com/spkopa/GLTF_Sandbox/blob/master/Assets/Maya_Scenes/Maya_Babylon_Exporter_01_30fps_Working.mb

To get the not working version to work, just add animation group to go from frame 1-120

Thanks for the hel

[2019-02-28 21:57] echadwick-wayfair commented on #460
Thank you!

[2019-03-01 19:46] donmccurdy commented on #56
Maxon just released a glTF exporter for Cinema4D to Maxon Labs: https://labs.maxon.net/?p=3360

[2019-03-01 20:53] deltakosh commented on #56
Woot!
Closing the issue then :D

[2019-03-01 20:53] #56 closed

[2019-03-02 00:47] BaldSavant opened #464 "Export Cancelled"
Export cancelled: (kFailure): Unexpected Internal Failure   at Autodesk.Maya.OpenMaya.MGlobal.executeCommand(String command, MStringArray result) at Maya2Babylon.BabylonExporter.GetBoneFullPathName(MFnSkinCluster skin, MFnTransform transform) at Maya

and I have no idea what that error is trying to tell me, but it happens every time I try to use the exporter, regardless of which options I seem to

[2019-03-02 01:20] deltakosh commented on #464
Can you share the scene that produces this error?

Pinging @patrickryanms

[2019-03-02 01:23] PatrickRyanMS commented on #464
Also, can you share with us what version of Maya you are currently using?

[2019-03-02 02:00] kcoley commented on #464
@BaldSavant and did you unblock the dlls before installing?
 https://doc.babylonjs.com/resources/maya
![3_dll_unlocking](https://user-images.githubusercontent.com/3946928/53675507-d0837280-3c4b-11e9-8e57-e8723c3c6422.jpg)

[2019-03-03 23:43] kcoley commented on #459
@spkopa sorry for the delay, didn't have access to a PC for a few days.
So it looks like, if the animation group is not set for the scene, the exporter uses the end frame of the animation timeline, not the end frame of the playback range.  The stuttering is freezing the last frame of animation until the end of the animation timeline.  So to fix the behavior, would be to either set the end of the a

[2019-03-04 16:07] BaldSavant commented on #464
@deltakosh I can't share the scene, unfortunately. NDA and all that. It is, as far as I can tell, happening across multiple scenes. All of which are a single rigged character with some amount of keyframe animation present.

@PatrickRyanMS I'm using 2018. Service pack 3 I believe.

@kcoley Yes, that was required before the plugin would even appear in maya. The plugin is there and working mostly, as

[2019-03-04 17:00] deltakosh commented on #464
Can you try to repro on a non NDA scene perhaps?

[2019-03-04 17:33] BaldSavant commented on #464
ok, I'm not sure what this file is/was, but it's giving me the same error. Hopefully that's helpful to you!

https://drive.google.com/open?id=1qdPDHK-Kob_wF7_YclP1BsnInIt0UuHH

[2019-03-05 06:47] kcoley commented on #464
Hi @BaldSavant , when I try to load your scene, it looks like it is looking for another referenced scene:
![image](https://user-images.githubusercontent.com/3946928/53786034-30d61680-3ecf-11e9-896b-4eb3726e014f.png)

Since that scene is not available, the export fails.  Is this prompt coming up for you?

[2019-03-05 18:19] spkopa commented on #459
@kcoley

Totally makes sense, Thank you for the help on this!

[2019-03-05 20:02] BaldSavant commented on #464
lol, sorry, I forgot that would be an issue.

Fortunately, I was able to resolve this problem. I don't know WHY it was happening, exactly, but some combination of "Export Only Selected", having "Export Normal" deselected, and "Optimize Vertices" as well as "Export Hidden Objects" seems to now allow me to export my files as expected. One of our tech people helped me resolve this.

[2019-03-05 20:02] #464 closed

[2019-03-11 11:34] EtagiBI opened #465 "[Max][glTF] Wrong texture offset values"
Hello,

My texture has the following properties:
![image](https://user-images.githubusercontent.com/20855725/54121029-2eb60f80-441b-11e9-9a03-9354b8d8547e.png)
When I export the model to GLTF, I have the following properties:
![image](https://user-images.githubusercontent.com/20855725/54121085-560cdc80-441b-11e9-95c5-f60ebe384471.png)
As you can see, offset parameters are different. Is it OK?

[2019-03-11 14:02] kcoley commented on #465
Hi @etagibi the parameters should be different since Max and glTF have different coordinate systems. But does the resulting glTF look incorrect? And if so, do you have a sample model?

[2019-03-12 13:57] #459 closed

[2019-03-13 05:45] EtagiBI commented on #465
Well, it's hard to tell for sure, but for me there's no visual difference.
![Max](https://user-images.githubusercontent.com/20855725/54256125-b9fae680-457c-11e9-892c-7ae818cfdda7.png)
![GLTF](https://user-images.githubusercontent.com/20855725/54256127-bb2c1380-457c-11e9-924d-6c5be01844c8.png)

Thanks for clarification.

[2019-03-13 05:45] #465 closed

[2019-03-18 02:03] Ben-Mack opened #466 "[Max][glTF] BaseColor texture turns white when specularLevel too high"
In 3ds Max, if material type Standard has high `Specular Level` value (like above 200), the output diffuse texture will become blank white.

This behaviour only occurs on glTF format, texture exported using Babylon format still working fine.

Looking through the source, I think it might related to this function:
https://github.com/BabylonJS/Exporters/blob/5679018c6386043af7ec8c0d4374faeded8c4451/3

[2019-03-18 14:40] deltakosh commented on #466
Yes the problem is that there is no straightforward transfer between non PBR (standard) and PBR material

I highly recommend to use PBR directly in 3dsmax if you plan to export to gltf.

Adding @bghgary for additional thoughts

[2019-03-19 09:07] EtagiBI opened #467 "Simultaneous rotation and tiling support"
Hello,

Is it possible to add simultaneous rotation and tiling support?
For example, I have a texture with following settings:
![image](https://user-images.githubusercontent.com/20855725/54593199-d18c1080-4a4f-11e9-812c-624e728e249a.png)
When I try to export a model with this texture, I get a warning from exporter:
![image](https://user-images.githubusercontent.com/20855725/54593261-fb453780-4a4f-

[2019-03-20 03:46] EtagiBI opened #468 "[Max][glTF] Some meshes look black without env map"
Hello,

I have a pretty simple model with a bunch of Standard materials applied to it. Some materials have similar specularity and glossiness settings, but look totally different when exported to glTF. For instance, there're cupboard material and chrome material:
![Mats](https://user-images.githubusercontent.com/20855725/54657710-5298e580-4aec-11e9-833f-6999ebaf81cd.jpg)

When I export my model to

[2019-03-20 07:16] EtagiBI commented on #467
I would also like to clarify one thing. Is it **necessary** to use KHR_testure_transform extension for export if any of my textures has tiling and/or rotation?

[2019-03-20 13:19] deltakosh commented on #467
Yes unfortunately as the uv transform were not initially in gltf spec

[2019-03-20 13:20] deltakosh commented on #468
Maybe @patrickryanms can have a look?

[2019-03-20 19:18] echadwick-wayfair opened #469 "Max2Babylon doc: which is latest?"
I noticed this section didn't include the full information on PNG usage, Image Alpha option, Alpha Test, etc.
https://doc.babylonjs.com/resources/3dsmax#texture-transparency

I had to dig into the Physical Material section to find this info.
https://doc.babylonjs.com/resources/3dsmax_to_gltf#alpha-mode

Looks like you have duplicate and out-of-date info in the former link, versus more up-to-date i

[2019-03-20 20:39] deltakosh commented on #469
Yes we need to clean all of that..But luckily we finally hire someone to help us :)

[2019-03-20 20:40] deltakosh commented on #469
cc @drigax

[2019-03-20 21:53] echadwick-wayfair opened #470 "Max2Babylon: Alpha Source bug, Base Color JPG and Bump PNG?"
Physical Material with a Bump PNG and a Base Color JPG causes the exported glTF material to use alphaMode Blend.

According to this thread, only a PNG in the Base Color input should cause this behavior.
https://github.com/BabylonJS/Exporters/issues/300#issuecomment-419417401

Is this a bug? Or intended behavior? It seems to me only a Base Color PNG should trigger this.

I would prefer PNG not to e

[2019-03-20 22:27] deltakosh commented on #470
Pinging @PatrickRyanMS

[2019-03-20 22:53] PatrickRyanMS commented on #470
@echadwick-wayfair, I tried to repro your issue and was unable to do it. The only difference for my setup is that I have 2019 installed and when exporting your Max file without changing any settings with 1.3.33, this is my result:

![BlendModeTest](https://user-images.githubusercontent.com/31326855/54724326-e045f680-4b27-11e9-883d-b741c6ed76fc.PNG)

I am in the process of getting an installer for

[2019-03-21 02:50] Ben-Mack commented on #466
I think this issue should be considered as a bug. Because even when there's no correct Standard to PBR conversion, the exporter should not turns the diffuse texture into blank white...

[2019-03-21 04:30] PatrickRyanMS commented on #470
I was able to get a copy of 2018 installed, but I don't have a drop of 2018.4. It also exported correctly in 2018:

![BlendTest2018](https://user-images.githubusercontent.com/31326855/54733365-84df2d00-4b56-11e9-8e96-711add2b3940.PNG)

Let me reach out to our exporter guys to see if there may be a bug in 2018.4. In the mean time, to get you unblocked, you can edit the glTF easily in something like

[2019-03-21 13:30] echadwick-wayfair commented on #470
Hmm, you're right, that file isn't causing it any more. Not sure what changed. Maybe we opened the Bitmap node, which then set the Alpha Source flag?

Here's a reset of that setup, which still causes the bug for me. This is using "Export & Run".

![image](https://user-images.githubusercontent.com/40177036/54755253-f1d8de00-4bbb-11e9-94a0-2f9f5c2a5f06.png)

[gltf_png_bump_blend_v2.zip](https://gith

[2019-03-21 15:37] deltakosh commented on #466
WOuld like to get @bghgary thoughts before marking it as a bug

[2019-03-21 22:59] bghgary commented on #466
This one is hard for me to judge since I don't know Max's materials. Does exporting to the babylon format and then serializing to glTF have the same issue? If so, can you send me the export babylon file?

[2019-03-22 09:35] Ben-Mack commented on #466
I've prepared 2 cases: One with specular level at 200 (named `hi-specular`), one with specular level at 50 (named `lo-specular`)

For each case, I've exported both babylon and gltf format into separate folders.

The material in Max is simply a default Standard material with a bitmap in diffuse slot and the accordingly specular level for each case.

Download: [Blank-tx-on-hi-specular.zip](https://g

[2019-03-22 16:33] bghgary commented on #466
I think the Max exporter is still using the PBR spec-gloss conversion to convert a standard material to metal/rough, which is not right. @deltakosh @Drigax

[2019-03-26 21:40] PatrickRyanMS commented on #470
I figured out what is going on here. In looking at your new model, I had been concentrating my search around the base color map, but the problem here is in the normal map. The normal map on your asset is a PNG, which does have image alpha. In the bitmap texture settings, your normal map is pointing to the Image Alpha for the Alpha Source rather than None (Opaque) like you have set up for your base

[2019-03-26 23:18] echadwick-wayfair commented on #470
Bump shouldn't affect transparency though.

This should only be triggered if there's a PNG in Base Color, in which case the intention is for the alpha channel to be transparency.

Alternatively if there's a bitmap in the Transparency input, in which case either the intention is for the alpha channel to be used as transparency, or else the rgb, depending on which Alpha Source radio button is used.

[2019-03-27 20:07] PatrickRyanMS commented on #470
I agree with you that the only channel that should affect the blend mode in a material is on the base color input. We are looking into why this is the case right now to solve it, This work around is just to help unblock you while we get get this issue resolved.

[2019-03-27 21:16] echadwick-wayfair commented on #470
Thanks Patrick!

Not a blocker on our end; we're making sure to tag the Alpha Source before export. Just want to report bugs as soon as we see them.

[2019-03-27 21:26] PatrickRyanMS commented on #470
Thank you for reporting them! Really appreciate knowing what hurdles you face so we can get rid of them.

[2019-03-27 21:36] echadwick-wayfair opened #472 "Max2Babylon: Normal map should use Normal Bump node"
It would help if the Exporter supported a normal map loaded in a Bitmap node, connected into the Normal input of a Normal Bump node, then connected into the Bump Map input of a Physical Material.

This is how 3ds Max always expects normal maps to be setup for rendering internally, either using its viewport shaders or using Arnold or even for other renderers like V-Ray.

However, the Max2Babylon ex

[2019-03-27 21:41] echadwick-wayfair commented on #470
Interesting. I set the normal map Bitmap node's Alpha Source to None (for the PNG), but the Blend mode was still being applied on export. The exporter only set it to Opaque after I opened the Base Color's bitmap node (with the JPG). Not sure if that's relevant.

I noticed this while creating the test for my recent request about adding support for the Normal Bump node.

[2019-04-02 16:42] Misterboogie commented on #468
Take a look at the red channel of your Metallic/Roughness map. It could be the occlusion channel is black instead of white.

Cheers,
Misterboogie

[2019-04-02 17:02] Misterboogie opened #473 "Unable to get alpha to work with Maya 2019 Maya2Babylon"
I am having an issue where I am unable to export alpha to Gltf. I can export everything except alpha and I've tried the two ways outlined in the docs. First way I tried to plug in png's with alpha. Second way I separated the alpha's into their own png's. Both methods didn't work. I am using AIstandard with Opaque turned off on the hair meshes. I have tried viewing the gltf on multiple gltf viewers

[2019-04-02 19:06] PatrickRyanMS commented on #468
@EtagiBI, what you are seeing is actually correct behavior, but let me take some time to explain what is going on. I am not sure how familiar you are with the glTF spec or with Physically-Based Rendering (PBR) materials so please forgive me if I repeat things you already know.

You have created your materials in Max as blinn-phong materials, but the glTF spec requires PBR materials, PBR metal-roug

[2019-04-10 10:36] Androidest opened #474 "No relative path for texture image while exporting with "Blender2Babylon-6.0""
In _**version 5.6 -> material.py**_, there are codes for adding relative path to image file path, but no such codes in _**version 6.0 -> texture.py**_.
![23a4abe4a5fcb212af2d202390acbe6](https://user-images.githubusercontent.com/10008376/55870409-17ee0e80-5bbb-11e9-9e6a-a442f47d7889.png)
![532a6e0014c6301da1342d36439e786](https://user-images.githubusercontent.com/10008376/55870427-23d9d080-5bbb-11

[2019-04-12 14:53] echadwick-wayfair opened #475 "Max2Babylon, Physical Material, how disable backface culling?"
If we're using Max2Babylon with the Physical Material, is there a way to disable backface culling, to enable 2-sided rendering as a material setting?

Also can we set this option via MAXScript?

I can't find any mention of culling in the docs, other than a post about the 2-sided checkbox in a Standard material. But Standard doesn't support PBR.

Do we need to add a Custom Attribute to disable back

[2019-04-12 15:38] Palmer-JC commented on #474
Just saw this.  The full path is being passed to [Texture Process](textureFullPathDir), which actually writes the file.  The file itself should be should be being written to the correct place.

I will have to look at this next week.  FYI, the place to set the relative path has moved from the `scene` tab to the `world` tab for version 6.0.

[2019-04-13 18:05] PatrickRyanMS commented on #475
@echadwick-wayfair, I have wanted to add extra options to the exporters for a while and backface culling is definitely one of them. My question for you would be we have two Babylon dialog windows, one under the right click of an object, and the export window itself. Since this would be a per material option, would it make more sense to you for those options to be under the right click context menu

[2019-04-13 19:51] Mudoglu opened #476 "Export custom Attributes from Maya"
Is there any way to export custom Attributes from Maya with the Babylon Exporter?

In maya you can asssign Attributes to objects.
We would like to assign a lightmap Attribute to connect later the lightmap texture to the right shader.

https://forum.babylonjs.com/t/export-custom-attributes-from-maya/2518/2

If needed i could provide a scene showing what we like todo.

Cheers

[2019-04-13 22:10] echadwick-wayfair commented on #475
Hi Patrick! I like the current Custom Attributes method for Unlit, etc. I think having backface cull there makes the most sense.

In general I prefer when exporters try to maximize parity with the native renderer. So in this case it would be nice for the exporter to use an existing material option that Arnold also supports. However it seems Arnold always renders back faces, at least I can't find a

[2019-04-14 00:32] deltakosh commented on #476
Thanks a lot, we're gonna add that to the todo :)

[2019-04-14 00:32] deltakosh commented on #476
Pinging @PatrickRyanMS FYI I think we should consider it for our UI rework)

[2019-04-14 02:09] Ben-Mack opened #477 "Add KHR_materials_pbrSpecularGlossiness support"
Please add KHR_materials_pbrSpecularGlossiness support as an option for 3ds Max exporter.

Material based on specular-glosiness workflow like Standard material will be exported more accurately, without the need to convert between workflow, which is incorrect and information like specular color will be lost.

[2019-04-14 14:01] deltakosh commented on #477
Would like to get @bghgary thoughts on this one

[2019-04-16 18:49] bghgary commented on #477
It is certainly possible to add specular glossiness extension. I'm not sure how much more accurate it will be though. The standard material in Max isn't physically-based like glTF core or the specular-glossiness extension. Converting to them is going to be lossy. It might be a bit less lossy with specular-glossiness since it can represent the specular color like you say, but it won't be perfect.

[2019-04-17 09:03] Ben-Mack commented on #477
It would be a great addition, please let me know if you guys have plan to implement it

[2019-04-22 16:15] Palmer-JC commented on #474
completed

[2019-04-22 16:15] #474 closed

[2019-04-23 10:00] cstfan opened #487 "Blender Exporter : Visible and Enabled (Outliner) do not work on InstanceMeshes"
When I create InstanceMeshes on Blender (alt + d), visible and enabled (Outliner)  do not work for them.

[2019-04-23 14:37] Palmer-JC commented on #487
My answers do not change by which channel things get reported.  .babylon format does not support this, so there is no point in writing it to the file.

[2019-04-23 16:47] #487 closed

[2019-04-23 18:07] Drigax commented on #466
I don't think this is a perfect solution, but reusing our Babylon->GLTF conversion for the Babylon->GLTF converter portion of the 3dsMax exporter should at the very least prevent us from exporting shiny materials as metallic, and improperly changing the material base color based off of its perceived shininess.

[2019-04-23 18:07] #466 closed

[2019-04-23 18:15] Drigax commented on #468
@PatrickRyanMS thanks for the extensive explanation!

[2019-04-23 18:15] #468 closed

[2019-04-23 20:01] cstfan commented on #487
Sorry, but I understood that you were telling me in the forum to make a message on GitHub for this problem. I am not here to be unpleasant to you, but just to suggest improvements to export it, which seems to me to be more than logical and important for everyone.

[2019-04-23 21:18] Drigax commented on #70
Thanks again to @elpie89 for adding the unit conversion support.

[2019-04-23 21:18] #70 closed

[2019-04-24 09:40] elpie89 opened #489 "Exporting skinned data from max use wrong bones"
I attached a sample,
Basically, a mesh that is skinned to 2 bones is actually using the entire hierarchy from the root to this 2 bones

[code]

This is part of the sample I attached  as you see in the data 3 bones are referenced, looking on the code this is because the way "relative nodes " are calculated

In other when a vertex is not weighted to any bones it automatically fallback in the root of

[2019-04-24 10:04] gopikrishnachaganti opened #490 "Corona Mtl - Support"
Hi, when 3dsmax has the Corona renderer, the max scene will have Corona Materials generated. these assets are not properly going thru Babylon GLTF exporter as the exporter is ignoring the Corona materials along with textures while exporting gltf.

i knew Arnold, VRay & Mental ray support is there with Babylon exporters. Can you please help on Corona renderer while exporting gltf?

[2019-04-24 14:38] deltakosh commented on #490
Hey! Do you want to contribute? If you have C# skill it could be easy to do. We are already handling a lot of requests so even though this one is interesting it could take a while before being able to add it

[2019-04-24 18:39] Drigax commented on #490
I agree, this looks relatively straightforward, but I have few other feature requests to prioritize before I can get to this. I'll toss this on my personal backlog, but if you think you have an implementation, I'd be more than happy to help get it into the source quickly. 😊

[2019-04-25 04:37] gopikrishnachaganti commented on #490
@Drigax @deltakosh i am also in similar boat with my backlog, will inform you if i can build this up.

[2019-04-25 15:21] Palmer-JC commented on #487
No I said, if you do the PR on the main repo to look at that type of info,
I would provide it on the export.

On Tue, Apr 23, 2019 at 4:02 PM cstfan <notifications@github.com> wrote:

[2019-04-26 02:25] Drigax commented on #470
@echadwick-wayfair, your last experiment was pretty insightful, I'm pretty convinced that this is a bug in 3ds Max.

Sorry for the delay, I set a breakpoint to where we retrieve the base color texture from Max, but the jpg is configured in Max as having an Alpha Source of 0 (Image Alpha in the Max GUI):
![image](https://user-images.githubusercontent.com/3952729/56778772-e5344080-678c-11e9-8c42-cd6

[2019-04-26 02:25] #470 closed

[2019-04-29 09:38] Pratyush1184 opened #496 "Animations associated with Morphed Models don’t play in the Babylon Sandbox"
I used a model named Morph Anim.fbx and exported it into .babylon using 3DS Max. The exported model when opened in the BabylonJS Sandbox renders a sphere without the associated animation where the mesh gets morphed into an irregular shape. The fbx model when viewed in Maya, plays the associated animations which involve morphing as can be seen in the video(morph.avi within the Morph Anim.zip file).

[2019-04-29 13:57] deltakosh commented on #496
@drigax can you have a look as soon as possible? Thanks!

[2019-04-29 15:46] RemusMar commented on #477
@bghgary

I'm not aware of any "perfect" algorithm.
But what can I say for sure is that the current one gives wrong results in many cases.
I gave you a better solution here: https://github.com/BabylonJS/Exporters/issues/269
cheers

[2019-04-29 22:14] Drigax commented on #496
Sure, looking at the Morphy Anim.babylon file, it doesnt appear to have the morph targets included.

Also, after importing and reexporting the Morph Anim.fbx file, I noticed that the exporter's skipping the morph target animation data:
![image](https://user-images.githubusercontent.com/3952729/56930379-50ce2480-6a91-11e9-9406-625e39080565.png)

Will continue to investigate, also noticed a similar

[2019-04-29 22:15] Drigax commented on #496
@deltakosh, this seems like an exporter problem, the Blender default GLTF exporter seems to work and load into the Babylon sandbox fine.

[2019-04-29 22:18] Drigax commented on #496
[Morph_Anim_blender.zip](https://github.com/BabylonJS/Exporters/files/3129382/Morph_Anim_blender.zip)

[2019-04-29 22:21] #489 closed

[2019-05-02 02:03] Drigax commented on #496
Yikes. this is looking a bit bigger than I initially thought, I think I can narrow this down into some related faults.

1) The BabylonFileLoader checks the loaded meshes for an autoAnimate flag on import, but the exporters currently set this flag on the animations themselves, so we don't automatically animate on load.

2) Shapekey animations don't appear to be exported for the Max, Maya and Blende

[2019-05-02 18:50] Drigax opened #501 "Add exporter support for modifying BabylonMaterial.maxSimultaneousLights"
We should be able to modify this property at export time to allow users to better preview their .BABYLON scenes without additional scripting.

[2019-05-07 14:24] Sknueppel opened #502 "[3DsMax] Crashes/Freezes while Exporting GltF"
Hey there,
I have an Issue with the newest Exporter and the Substance Plugin (https://www.allegorithmic.com/integrations/substance-in-3ds-max)

As long as it is installed, my Exportprogress on GLTF files freezes and Max Chrashes.
and ion my listener Window I get these messages

<img width="559" alt="Substance Error" src="https://user-images.githubusercontent.com/50370211/57306692-9028f080-70e3-11e

[2019-05-07 17:34] Drigax opened #503 "Improvements to Maya Animation Export"
@PatrickRyanMS noticed a regression where non-animated objects are exported with keyframes.
This appears to be introduced by #166, where the default animation export was changed to bake the animations of all objects in scene.
Additional improvements can also be made to the baked animation optimizations.

This should be corrected by:
1) changing the default animation path to export the keyframed an

[2019-05-08 06:17] EtagiBI opened #505 "[3DS Max] Pivot exports as dummy object"
Hello,

I've noticed that sometimes model's pivot point exports as a dummy object (helper). Usually it happens when a pivot point isn't a center of a model (see below).
![image](https://user-images.githubusercontent.com/20855725/57353545-43e0bd80-7182-11e9-9281-532eafb4997e.png)

It seems that exporter doesnt' recognize a pivot point and converts it into a dummy object (helper). Needless to say th

[2019-05-08 17:48] echadwick-wayfair opened #506 "Max2Babylon 1.3.36 - not showing version update in UI?"
Header in the Max2Babylon exporter is showing 1.3.33, but I've closed 3ds Max, downloaded and installed 1.3.36, and restarted 3ds Max.

Do I actually have the latest? Or does the header need to be updated?

Thanks!

![image](https://user-images.githubusercontent.com/40177036/57396130-aee8bf00-7197-11e9-9cb5-d93ee7666b72.png)

->

![image](https://user-images.githubusercontent.com/40177036/57395992

[2019-05-08 18:24] Drigax commented on #506
Sorry about that, I neglected to update the UI to reflect the new versioning, but that should contain the latest build. I'll fix this moving forward

[2019-05-08 18:32] echadwick-wayfair commented on #506
Ok, no problem, just want to make sure I'm not going crazy!

[2019-05-08 19:29] kcoley commented on #506
Hi @drigax, there is also a changelog you can update if you like with your new changes: https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/CHANGELOG.md

[2019-05-09 17:17] Drigax commented on #502
Hi @Sknueppel, I was able to reproduce the 3dsMax crash, before we finish writing to our output file, we broadcast a PreExport Notification to Max, Substance and the other plugins listening:

https://github.com/BabylonJS/Exporters/blob/1b20a40bdc5d4ab92ece04de1fe25280013a1d40/3ds%20Max/Max2Babylon/Exporter/BabylonExporter.cs#L580

I got a slightly different callstack than the one you're observing,

[2019-05-09 17:17] #502 closed

[2019-05-14 10:13] MarnixKuijs commented on #335
Is there anyway to get this in Maya as well? Or is there already a way to get alpha test and I just overlooked it?

[2019-05-14 18:25] BryanChrisBrown opened #508 "All files fail to load in windows gltf viewer, and babylon sandbox"
weird issue where the gltf files exported via 3ds max 2019 and the most recent babylon exporter can't be read by sandbox.babylonjs.com or by the "object viewer" present on windows 10.

The models are readable via Don Mccurdy's gltf viewer.

I've attached a zip file with the 3ds max file and the resulting gltf file

[teapot.zip](https://github.com/BabylonJS/Exporters/files/3179242/teapot.zip)

[2019-05-14 18:27] deltakosh commented on #508
adding @bghgary

[2019-05-14 18:30] bghgary commented on #508
I just tried and the teapot works in both sandbox and 3d viewer?

[2019-05-14 18:30] bghgary commented on #508
What error are you getting?

[2019-05-14 18:34] BryanChrisBrown commented on #508
I just got it to work by clicking and dragging it into the window, after refreshing my browser.

 however the "export and run" option doesn't seem to work and gives me this error:
![image](https://user-images.githubusercontent.com/22871421/57722818-4f862580-7655-11e9-87d4-c90ac41e9f65.png)

[2019-05-14 19:00] bghgary commented on #508
@Drigax can you take a look?

[2019-05-15 14:33] BryanChrisBrown opened #509 ""Export Canceled: Object reference not set to an instance of an object." when exporting with physical material"
I'm currently getting this issue trying to export a model with physical materials. This occurs when exporting to any file type, gltf, babylon, glb or binary babylon

The material is setup as a "multisubobject" material with 7 sub materials.

I've attached an archive of the 3ds max 2019 model.
[3dsMaxBug.zip](https://github.com/BabylonJS/Exporters/files/3182997/3dsMaxBug.zip)

![image](https://user

[2019-05-15 14:37] BryanChrisBrown commented on #509
The issue does not occur when using 3ds max "standard" materials, but we haven't had this issue with physical materials with past versions of the exporter.

[2019-05-15 15:50] deltakosh commented on #509
Ok thanks we are going to check asap

[2019-05-16 17:07] Drigax commented on #508
I'm not entirely sure what's going on here either. looking at my developer console, I can see:
![image](https://user-images.githubusercontent.com/3952729/57872568-cf7cce80-77c0-11e9-8068-1ac4202d91d7.png)

Which suggests that our http request is being blocked.

switching this to use https results in the request still being blocked:
![image](https://user-images.githubusercontent.com/3952729/5787297

[2019-05-16 17:34] Drigax commented on #509
Thanks, this was a regression I introduced that was fixed via:
https://github.com/BabylonJS/Exporters/pull/500

I'll publish a new version of the exporter to include this.

[2019-05-16 18:31] BryanChrisBrown commented on #509
Awesome, thanks for the quick response!

[2019-05-16 22:40] deltakosh commented on #508
Yep this seems to be a problem with the net http listener we use. Search for disable CORS on http lsitener (or maybe we need to use another .net web server?)

[2019-05-17 02:08] Drigax commented on #506
Thanks @kcoley, this changelog is so well organized! I'll keep it up to date moving forward.

Updated the version UI and updated our changelog for v1.4.0 (yay minor update)
https://github.com/BabylonJS/Exporters/pull/511

[2019-05-17 02:08] #506 closed

[2019-05-17 02:09] Drigax commented on #509
fix should be in master now :)

[2019-05-17 02:09] #509 closed

[2019-05-17 02:13] Drigax commented on #505
Sorry for the slow response, I've been a bit busy resolving some of our exporter issues :)

I'll try to take a good look at this in the next 2 weeks to resolve this, but do we want to export these objects such that their new origin is the pivot?

[2019-05-17 12:26] Drigax commented on #496
Ok after taking a good look at the Autodesk API, I don't think this is entirely fixable:
1) @Pratyush1184 your FBX does not contain the full morph targets. If we load it into Max, we see:
![image](https://user-images.githubusercontent.com/3952729/57927700-a8c3a400-7863-11e9-8b83-6e16716695c7.png)
Indicating that the FBX includes transformation data to deform the mesh to the morph target, but the A

[2019-05-20 17:48] BryanChrisBrown opened #517 "roughness/metalness swap"
Placing a map under roughness in a physical material on 3ds max 2019 causes it to be placed under metalness instead of roughness/reflection in the exported model.

Placing the map under metalness in 3ds max corresponds to the metalness option in the gltf file as intended.

[2019-05-20 19:52] Drigax commented on #496
Still unable to find a definitive reason why we can't export the Morpher animation frames either.
when we try to get the animation keyframes via:
https://github.com/BabylonJS/Exporters/blob/a639bbb62ef39e23639c80847dd4af204f96fbb8/3ds%20Max/Max2Babylon/Exporter/BabylonExporter.Animation.cs#L295

The API returns nothing.

Unfortunately this looks like a bug in 3dsMax, but if anyone has some time to

[2019-05-20 19:53] #496 closed

[2019-05-20 20:59] Drigax commented on #517
Hi, @BryanChrisBrown

[2019-05-21 07:47] Gil-1 opened #518 "Parenting object to bones not working at export with 3ds max"
Hello,

I made a simple scene to debug another bug but when I export the objects, the parented one are not parented in the babylon file.
here, the red boxes are skinned to one bones each. The green boxes are parented to the same bones as the red one.

If I parent a box to a bones not used in a skin the parenting is working.

Here is the playground
https://www.babylonjs-playground.com/#TH16ID#12

Y

[2019-05-21 12:26] BryanChrisBrown commented on #517
My apologies, I thought the reflection map was akin to roughness, that's my bad. I forgot that metal and roughness maps were merged in gltf. I got confused in the babylon viewer since it just says "metalness" instead of metalness/roughness

![image](https://user-images.githubusercontent.com/22871421/58096003-1e9c7800-7ba2-11e9-882e-6d6326f30f38.png)

[2019-05-21 13:23] Drigax commented on #517
No problem :) I always appreciate bug reports. Please let me know if you run into any further issues.

[2019-05-21 13:23] #517 closed

[2019-05-21 14:34] deltakosh commented on #518
Hello bones are not meshes in .babylon file format unfortunately.
This feature is not supported directly from max but you can then use mesh.attachToBone using code to simulate the same effect.

[2019-05-21 14:45] Gil-1 commented on #518
Ah ok. It was kind (a little bit buggy) of supported three versions ago but ok :)
Will add a skin to attach from 3ds max.

[2019-05-21 14:52] deltakosh commented on #518
My pleasure!

[2019-05-21 14:52] #518 closed

[2019-05-23 22:43] kadirilkimen commented on #476
I think 3ds max exporter plugin may have similiar function.
In 3ds max, we can append custom attributes to any object ( floats, strings etc ).
It would be very good if babylon exporter append this custom attributes to object's data.

I dont know if it is same task ( because i dont know anything about Maya) , but i think it worth to mention here :)

[2019-05-24 05:15] kentbarber commented on #56
I don't mean to re-open this. But since I am a C4D developer who is currently using Babylon I was wondering if it would still be useful to have a babylon.js exporter natively in C4D as a plugin. Is this something the community would want?

I may also write my own glTF exporter as well and integrate the new Basis texture compression into the pipeline, as well as sample textures and simplify the tex

[2019-05-24 05:31] DonutKilla commented on #56
Yes, I would use a c4d Babylon exporter with compression and rounding vertices. I use glTF but a Babylon.js exporter I would use more often.

[2019-05-24 05:51] flopanzer commented on #56
Yes, please! Let me know if you need help with testing!

[2019-05-24 06:25] DonutKilla commented on #56
Yes, Do it!

[2019-05-24 09:59] byelik opened #521 "3ds Max opacity animations"
Hi.
I've created a scene with a box and added an animation of opacity. Then i exported it to gltf. I checked exported an animation in the [sandbox](https://sandbox.babylonjs.com/) and there is no animation with opacity.
I checked a FBX file in the Unity and it works without any problems.
I atteched a project.
[Opacity animation.zip](https://github.com/BabylonJS/Exporters/files/3216274/Opacity.anim

[2019-05-24 10:12] jameslashmar commented on #56
Have you guys seen this?
https://labs.maxon.net/?p=3360

On Fri, May 24, 2019, 7:25 AM DonutKilla <notifications@github.com> wrote:

[2019-05-24 13:27] deltakosh commented on #521
I do not think that opacity is something that gltf format can animate.
Pinging @bghgary for confirmation

[2019-05-24 13:28] deltakosh commented on #56
Yeah this is great!!

[2019-05-24 16:40] bghgary commented on #521
Yes, I confirm. Animations in the glTF 2.0 core spec can only target TRS and weights. There is a PR and discussion about animating other properties [here](https://github.com/KhronosGroup/glTF/pull/1301), but until that's ready it won't be possible to do in glTF.

[2019-05-24 16:41] #521 closed

[2019-05-24 18:32] Drigax commented on #508
After giving this a thorough look, I think our current implementation limits our browser compatibility, unfortunately we only fully support Export & Run on Chrome.

My previous testing was done solely on Firefox, which blocks Cross-Origin requests (requesting from our locally hosted fileserver as part of our request to sandbox.babylonjs.com) for HTTP as a security feature.

There is a way to disab

[2019-05-24 18:32] #508 closed

[2019-05-25 10:44] byelik commented on #521
Hi, thanks for your reply. It is sad 😢, about opacity....
Anyway, thanks....

Пт, 24 трав. 2019, 19:40 користувач Gary Hsu <notifications@github.com>
пише:

[2019-05-25 13:38] deltakosh commented on #521
If you are not attached to gltf you can use .babylon file format which supports that feature

[2019-05-25 13:50] echadwick-wayfair opened #522 "Add Clearcoat support"
I’d like to see support in Max2Babylon for the new Clearcoat features, via the Physical Material.

Possible implementation design here:
https://forum.babylonjs.com/t/max2babylon-feature-request-clearcoat/3498

Thanks!

[2019-05-26 13:36] byelik commented on #521
Thanks

Сб, 25 трав. 2019, 16:38 користувач David Catuhe <notifications@github.com>
пише:

[2019-05-28 03:42] HieuNguyenVu opened #523 "[Blender] RNA_Types has no attribute 'Light'"
Traceback (most recent call last):
  File "C:\Users\hieu\Downloads\blender-2.79a-windows64\2.79\scripts\modules\addon_utils.py", line 331, in enable
    mod = __import__(module_name)
  File "C:\Users\hieu\AppData\Roaming\Blender Foundation\Blender\2.79\scripts\addons\babylon_js\__init__.py", line 86, in <module>
    from . import light_shadow
  File "C:\Users\hieu\AppData\Roaming\Blender Foundatio

[2019-05-28 14:22] deltakosh commented on #523
Pinging @Palmer-JC

[2019-05-29 14:37] Palmer-JC commented on #523
The last exporter to run on Blender 2.7x is 5.4.

[2019-05-29 14:37] #523 closed

[2019-05-29 14:41] Palmer-JC commented on #508
FYI:  Yes, Firefox changed recently to block.  I switched to Edge, which
does allow file:// for textures.

On Fri, May 24, 2019 at 2:32 PM Nicholas Barlow <notifications@github.com>
wrote:

[2019-05-29 22:40] deltakosh commented on #473
Pinging @PatrickRyanMS :)

[2019-05-29 22:43] deltakosh commented on #228
Closing as no activity

[2019-05-29 22:43] #228 closed

[2019-05-29 22:43] deltakosh commented on #378
We will rework the UI completely so closing this one for now

[2019-05-29 22:43] #378 closed

[2019-05-29 22:44] deltakosh commented on #381
Closing for now as we do not have plan to add OSX and Linux (for now). Will create a new one if the plans change

[2019-05-29 22:44] #381 closed

[2019-05-29 22:45] deltakosh commented on #245
We are currently working on this featue

[2019-05-29 22:46] deltakosh commented on #184
We do not plan to support it for now

[2019-05-29 22:55] #48 closed

[2019-05-29 22:55] #65 closed

[2019-05-30 03:03] PatrickRyanMS commented on #473
I'm finding some strange behavior with transparency at the moment. Let me chat with @Drigax and we will open a bug.

[2019-05-30 19:42] jcartie opened #525 "Animation Export only feature."
Hello I saw a ticket of yours that was closed a year ago

https://github.com/BabylonJS/Exporters/issues/203

and its describing what were hoping to accomplish.

Which is an option to only export animation data.

The ideal hope would be to split animation and geometry into 2 files.

that way we can swap animations only.

any possibility that this request has been reconsidered?

Thanks!

Juan Carlos

[2019-05-31 16:09] Drigax commented on #525
Hi @jcartie,

I believe @elpie89  and @Selmar added a feature via #492 that allows usto export animation data as JSON.

Let me know if this solution works for you, else I can think of ways to enhance it. :)

[2019-05-31 16:21] elpie89 commented on #525
Our features only export a list of animation groups from one file to another, allowing you to avoid to recreate animations group when node have been merged into a new scene for example.
What you are asking is something that our animators requested as well
They asked this feature some days ago, the possibility to split animation info from the GLTF itself
like in an fbx when you export only animatio

[2019-05-31 18:08] YossiMH commented on #525
@Drigax @elpie89 -- I work with @jcartie  .

Here's some context about what we're to do:
- This is about the Maya GLTF exporter, and exporting assets for integration into our apps and delivery, as-is, to end users
- We want a really small initial payload with a GLB that only includes our characters' geometry, materials, and textures
- We want to then stream in other animations later on during the

[2019-05-31 18:24] Selmar commented on #228
I believe @elpie89 is on this actually.

[2019-05-31 18:59] Selmar commented on #525
@YossiMH What we did was on the 3dsmax side, and it does not export glTF/glB.

[2019-06-03 17:06] Drigax commented on #525
@YossiMH Makes sense. Currently we haven't supported this in our exporters because we currently don't have support for retargeting the animations exported in the rig-only GLTF to the rig that would be exported with the mesh GLTF in the babylon engine.

@PatrickRyanMS, @bghgary would you be able to chime in on this as well? I am unsure if GLTF supports armatures without an associated mesh. This was

[2019-06-03 18:27] Drigax commented on #475
Hi @echadwick-wayfair, I believe @jdwilder-google helped add support for double sided rendering via his contribution: https://github.com/BabylonJS/Exporters/pull/514. We can now use the Double sided material node.

Would that be a sufficient fix? I'll try to make this available for the next package build of the Max2Babylon exporter.

[2019-06-03 18:28] #475 closed

[2019-06-03 18:30] Drigax commented on #503
Just to update, sub-issues 1 and 2 are fixed for the Maya exporter, This is still open to address the animation bake optimization.

[2019-06-04 06:50] vortice3D opened #529 "add backface culling and double sided support in Maya"
Hello,
We usually deal with transparency in our PBR materials, but don't have any way to specify the backfacing culling and double sided attributes later on.
How are these attributes handle, if they are?
Just in case, we would like to have a way to specify these attributes on a per material basis, like in Blender.
Thanks in advance.

[2019-06-05 00:22] YossiMH commented on #525
@Drigax It does; see here: https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/figures/dictionary-objects.png

[2019-06-05 07:51] EtagiBI opened #533 "[Max][glTF] Exported textures're MUCH darker than original ones"
Hello,

Yesterday I updated 3DS Max to Babylon exporter and encountered a problem. All exported textures now are MUCH darker than original ones.
![original_texture](https://user-images.githubusercontent.com/20855725/58939289-5570b180-8790-11e9-8daa-2c740dee72d8.jpg) ![exported texture](https://user-images.githubusercontent.com/20855725/58939292-573a7500-8790-11e9-8b1a-d3e3f4f942ca.jpg)

All my mod

[2019-06-05 10:26] jarnoburger opened #534 "Add support for 3dsMax 2020"
I know i could get into nothing when trying the plugin for 2019 in 2020..
But its not working.. Hehehe :).
![image](https://user-images.githubusercontent.com/1609891/58949590-1856f000-878d-11e9-8088-857faca63d76.png)

[2019-06-05 13:56] vanlicht opened #535 "Maya Exporter to support alphaMode MASK and alphaCutoff"
Hi,

Really enjoy the Maya Exporter  but find the feature still missing to support alphaMode MASK and alphaCutoff values. Any solution already exists that I miss? Thanks!

[2019-06-05 14:49] deltakosh commented on #533
Can you provide a max scene that highlights the issues?

[2019-06-05 18:21] Drigax commented on #534
Thanks, sounds like we need another project to target 3dsMax 2020.

@kcoley do you have any insight as to what typically differs for the Max API assemblies for each version?
I'll most likely go off of your previous work for adding support for Maya2019 and looking at the differences between the other Max2Babylon projects.

I hope to get to this by the end of the month, as we should support the late

[2019-06-05 18:27] Drigax commented on #533
@EtagiBI what version did you update from? I do recall changing our PBR conversion algorithm via #485, which should have shipped as part of [v1.3.35](https://github.com/BabylonJS/Exporters/blob/master/3ds%20Max/CHANGELOG.md#v1335)

[2019-06-05 18:31] Drigax commented on #529
Hi @vortice3D. I don't believe that the maya exporter currently supports backface culling. We just added the funcitonality to the 3dsMax exporter, so we should add this to the Maya exporter as well. Unfortunately, you may have to add the material property manually as a workaround for now, but I'll try to get this parity in our Maya exporter in the next few weeks.

Can you give me a simple scene to

[2019-06-05 18:40] Drigax commented on #525
Great, then this should be doable. Currently I'm planning on tackling this in the next month along with some other high priority asks.

@PatrickRyanMS, Can you help in designing some good UX to allow this? Going off my previous blender experience, I'm biased to adding separate flags for different scene element types to include at export similar to this FBX exporter dialog:

![image](https://user-i

[2019-06-05 18:45] Drigax commented on #535
I'm not entirely sure off hand. @vanlicht, can you provide a sample .maya scene to look at to test correctness of the implementation? I think we have a few other alpha channel related issues going off of #473, sounds like they're related.

[2019-06-05 18:46] Drigax commented on #522
I agree. We should make sure our exporters work with our fancy new Babylon.JS features ;)

I'll try to get to this as soon as I'm done putting out fires, definitely sometime this or next month.

[2019-06-05 19:01] Drigax commented on #472
Ok, I agree that we should fix this. I probably won't be able to get to this for ~2 months due to some higher priority things to address. If anyone wants to take this on in the meantime, feel free.

[2019-06-05 19:05] Drigax commented on #453
I see. I agree that we should preserve this metadata. Can you make a 3dsMax scene that has metadata that our exporter strips out?

I'm putting this on my personal backlog to tackle in about 2-3 months, but if anyone wants to fix this before I get to it, feel free :).

[2019-06-05 19:08] Drigax commented on #184
Yeah, we should have an importer to pair with our exporters. Unfortunately I don't see myself being able to dedicate a significant amount of time to this for the next few months due to its complexity and scope. But I hope to eventually get to it, but if anyone thinks that they can do it now, feel free :).

[2019-06-05 19:09] Drigax commented on #205
Currently I don't plan on getting to this in a reasonable amount of time, but I'll leave this issue up for anyone who would like to implement this feature.

I assume we just want to support exporting our paths as BABYLON.Curve3 and strip the paths when exporting as GLTF?

[2019-06-05 19:11] Drigax commented on #428
same as #184, we _should_ have an importer to pair with our exporters. Unfortunately I don't see myself being able to dedicate a significant amount of time to this for the next few months due to its complexity and scope.

I hope to eventually get to it, but if anyone thinks that they can do it now, feel free :).

[2019-06-05 21:02] Drigax commented on #501
I should be able to implement this in around 2 months, I want to tackle some higher priority issues first.

[2019-06-05 21:59] vanlicht commented on #535
Hi @Drigax,

Please see the attached. Thanks.

[gittree.zip](https://github.com/BabylonJS/Exporters/files/3259203/gittree.zip)

[2019-06-05 23:43] Drigax commented on #505
Looking at the behavior in max, I'm unsure what the issue you're reporting is. I may not be well versed enough in the terminology, so please feel free to reopen this issue with clarification.

In your scene file, you have a number of meshes grouped under AM_138_034 with a transform at the world origin:
![image](https://user-images.githubusercontent.com/3952729/58995617-c1134880-87a9-11e9-89fa-a9fa

[2019-06-05 23:43] #505 closed

[2019-06-06 10:07] EtagiBI commented on #533
Here's a model example:
[Door_model.zip](https://github.com/BabylonJS/Exporters/files/3261065/Door_model.zip)
My exporting options are as follows:
![image](https://user-images.githubusercontent.com/20855725/59025061-bc639880-886c-11e9-879a-5389762484b4.png)

Everything worked fine in v1.3.33.

[2019-06-06 14:35] susares commented on #534
Hi,
there have been some changes in the .Net SDK wrapper resulting in the above error message.

@Drigax there are no real insights when it comes to changes in new versions of the SDK. Sometimes Autodesk documents it the rest is fixing compilor errors. Basicly how i did the 2019 port.

I started to work on a 2020 port but did not push anything yet.
This is due to a critical error in the current 202

[2019-06-06 19:27] biomorphica opened #536 "Help could be improved."
Thanks for this excellent exporter. I finally got it working in Max 2017. The instructions,
"move all .dll files into the installation directory of 3DS Max"
 were a little bit unclear, so here is what worked for me:

copy this file to 3ds Max 20##\bin\assemblies
Exporters/Max/Max2Babylon/20##/refs/Autodesk.Max.dll

and then also download
Exporters/3ds Max/Max2Babylon-1.4.0.zip
and put those .dlls

[2019-06-07 07:08] vortice3D commented on #529
Hi there,
I don't know which information do you have for the implementation.
But basically, there should be a way to tell the glTF material to disabled the backface culling attribute when there is any transparency or opacity going on.
In the attached sample file, the cube is red and semi transparent, and it appears as this inside sandbox:
![imagen](https://user-images.githubusercontent.com/1760601

[2019-06-07 18:33] Drigax commented on #535
Hi @vanlicht, I'm not sure if the difference in your results are due to AlphaMode export settings. Some leaves aren't rendered in your left example due to backface culling of the leaf meshes. Changing the material properties in the Babylon engine, I can see:

![image](https://user-images.githubusercontent.com/3952729/59125647-cdb5af00-8917-11e9-9d9c-24765a0e13d8.png)
Where the left tree's leaves u

[2019-06-08 16:19] vanlicht commented on #535
Hi,
Yes I am aware if the doubleSided issue, which at the moment there is no support from Maya exporter I think. For the desired result I had to manually add it in the glTF code.
Though, there is difference of the tree in BLEND mode versus MASK mode, wonder if you noticed the difference. Thanks.

[2019-06-09 20:52] Bulisor commented on #453
Ok, I'll check this with my 3d artist.
But this was related to export as glb from code, not from 3dsMax I think.

[2019-06-10 17:13] deltakosh commented on #536
This should fixed soon with installers

[2019-06-10 17:14] deltakosh commented on #536
Furthermore this is already mentioned
![image](https://user-images.githubusercontent.com/1306056/59212937-8a05b400-8b68-11e9-81f5-45b2c852c118.png)

[2019-06-10 17:14] #536 closed

[2019-06-10 18:54] sebavan commented on #469
I added the link to the former documentation. As the UI will be revamped soon, I won t add more information at the moment.

[2019-06-10 18:54] #469 closed

[2019-06-10 18:57] sebavan commented on #428
Grouping with #184 as it might be easier to tackle them both at once.

[2019-06-10 18:58] sebavan commented on #428
Scope should be:
- [ ] GLTF
- [ ] GLB

in both:
- [ ] Max
- [ ] Maya

[2019-06-10 19:00] sebavan commented on #184
Closed as grouped with #428 to share as much as we can during the dev.

[2019-06-10 19:00] #184 closed

[2019-06-10 19:05] sebavan commented on #245
@Jaskar Do we have any ETA to communicate on this feature ? that would be awesome :-)

[2019-06-10 19:08] sebavan commented on #453
@Bulisor could you confirm that it is by code cause else I would probably move the issue on the main repo. I would like to not lose it :-)

[2019-06-10 19:13] sebavan commented on #473
Closing as dupplicate of #535.

@Misterboogie  Would you be able to share a zip on #535 ? thanks a lot

[2019-06-10 19:13] #473 closed

[2019-06-10 19:43] sebavan opened #537 "Revamp the exporter UIs and add the missing requested export flags support"
For both Max/Maya, redesign the exporter UIs.

This should help addressing :

- [x] Initial design exploration for feasibility
- [x] GLTF exporter should be shared across max and maya.
- [x] BackFace Culling #529
- [x] Double Sided #529
- [x] Transparency Mode #535
- [x] Max Simultaneous Lights #501
- [x] Custom Attributes #476
- [x] Animation Only #525
- [x] Add support for 3dsmax 2020 #618

All

[2019-06-10 19:45] sebavan commented on #529
Closing for house keeping as we are grouping all the UI work in one place #537

[2019-06-10 19:47] sebavan commented on #525
Closing for house keeping as we are grouping all the UI work in one place #537

[2019-06-10 19:47] #525 closed

[2019-06-10 19:47] sebavan commented on #501
Closing for house keeping as we are grouping all the UI work in one place #537

[2019-06-10 19:47] #501 closed

[2019-06-10 19:49] sebavan commented on #476
Closing for house keeping as we are grouping all the UI work in one place #537

[2019-06-10 19:49] #476 closed

[2019-06-10 19:51] #529 closed

[2019-06-10 20:05] sebavan commented on #534
@susares do you happen to have a public link to the issue ? or is it only kept internally on their side ?

[2019-06-10 20:48] sebavan commented on #533
Also reported on the forum here: https://forum.babylonjs.com/t/exporting-from-3ds-makes-jpg-png-textures-gray-must-manually-hack-the-gltf-glb/3787

[2019-06-10 23:28] Drigax commented on #503
I think we can de-prioritize the bake optimization, since it's not really needed. The initial regression fix was sufficient to fix the reported issue, and when opting to bake your animation frames, it should be acceptable to receive some additional data. We can always reopen this in the future if the current animation baking experience isn't acceptable.

[2019-06-10 23:28] #503 closed

[2019-06-10 23:47] sebavan commented on #533
@EtagiBI I found the issue, I am double checking the full extends of it and a fix should be in tomorrow.

[2019-06-11 00:24] Drigax commented on #535
Thanks for the clarification. I don't have an eye for that fine of detail, so I wanted to address the most obvious issue first. 😊

But i can see the need to support removing the leaves' white halo via a hard alpha test.

Currently, Maya doesn't expose texture Alpha blending modes, nor per-material back face culling in the Maya exporter, and our exporter implementation doesn't currently extend that

[2019-06-11 00:25] #535 closed

[2019-06-11 06:25] susares commented on #534
@sebavan sorry I don't have a public link. just the internal API support and a internal change request number that it resulted in. I will comment back here once I get more information from Autodesk.

[2019-06-11 08:16] #533 closed

[2019-06-11 08:16] sebavan commented on #533
@Drigax Could you release a new version of the exporter ?

[2019-06-11 09:03] sebavan commented on #472
@echadwick-wayfair I totally agree even more cause setting up a bump directly results as using the texture intensity in the viewport vs a standard use of normal maps.

I will add the bump supports from the normal node in.

At first only the normal part of the node will be supported because to support both we would need to rerender a baked output of the node (I will check later on what we could do

[2019-06-11 12:00] Bulisor commented on #453
Yes. The scenario was: import in the scene an object, .obj, .stl, .babylon, add some infos to its metadata property, export as glb/gltf and use exported file in a different scene. In this new scene to have acces to metadata added before export. Hope it is more clear.

I tried from 3dsMax to export a box with tag, and it is working well.

[2019-06-11 14:38] Jaskar commented on #245
Hi !
@sebavan It should be done by the end of the month :)

[2019-06-11 14:53] sebavan commented on #245
@Jaskar Thanks a Ton for the ETA !!!

[2019-06-11 20:58] #472 closed

[2019-06-11 21:06] sebavan commented on #472
Good news is our new Continuous Delivery looks promising, @echadwick-wayfair , you can find associated release files here if you want to test (in the assets at the bottom) :
https://github.com/BabylonJS/Exporters/releases/tag/preRelease20190611.9

[2019-06-12 14:37] sebavan commented on #522
Work to be done:

- [ ] Create entities
- [ ] Export max Phys Mat
- [ ] Export max Arnold std Surface
- [ ] Export Maya

[2019-06-12 23:55] Drigax commented on #467
Hi @EtagiBI

Looking at our current implementation, we do support simultaneous rotation and tiling, with one major caveat: **We cannot support using a non-uniform UV tiling with rotation**

There's a few fun threads of discussion regarding the current limitations of the KHR_texture_transform extension [here](https://github.com/KhronosGroup/glTF/issues/1563#issuecomment-490259585) and [here](https:

[2019-06-13 00:35] #467 closed

[2019-06-13 18:03] BryanChrisBrown opened #541 "Instances with unique materials not working if exported in one file"
I am trying to export a file from 3ds max 2019 with instanced objects that each have a unique material on them.

Upon export, only one of the materials is chosen, and the others are not exported. (textures are also not exported)

also of note, These are skinned instances, and only one instance exports with the applied animation.

I'd make the instances into unique objects but due to the skin modif

[2019-06-14 17:16] sebavan commented on #522
Finishing the documentation and I ll be able to close the issue. Please note it is only available in .babylon format as GLTF does not support Coating.

[2019-06-14 17:33] sebavan commented on #522
@echadwick-wayfair you can early test from our github prerelease : https://github.com/BabylonJS/Exporters/releases/tag/preRelease20190614.4

all the deployable files are available under assets.

both docs are available:
- Max: https://doc.babylonjs.com/resources/3dsmax#physical-materials
- https://doc.babylonjs.com/resources/maya#physical-materials

[2019-06-14 17:33] #522 closed

[2019-06-14 22:55] Drigax commented on #541
Ah, i see. That's definitely wrong behavior. Looks like we're treating 3ds Max instances with the same restrictions as Babylon instances, so we make them all share materials.

As a quick fix I can change the exporter to treat instances as unique meshes if they don't share materials, but that will bloat the filesize with extra mesh data for the time being.

I'll try to powwow with @sebvan and @bghg

[2019-06-15 04:07] #541 closed

[2019-06-17 13:17] sebavan commented on #245
Last missing bits are:

- [ ] Auto Deploy
- [ ] Update install docs

[2019-06-17 13:43] sebavan commented on #245
Reference to the doc commit: https://github.com/BabylonJS/Exporters/commit/d85eed74f4c43ae91483db3fcc52a3310ddf6f74

[2019-06-17 13:47] sebavan commented on #245
First release available here: https://github.com/BabylonJS/Exporters/releases/tag/preRelease20190617.6

[2019-06-17 13:47] #245 closed

[2019-06-19 20:55] BaldSavant opened #549 "Export causes mesh scale change in gltf/glb animation"
In Maya, I'm exporting a character rig which holds 3 unrigged, unconstrained props. The character and props animate over 8300 frames, performing various actions, each of which is contained in a clip (babylon calls them animation groups). The props are scaled from and to 0.001 scale to simulate disappearing during certain actions. This happens multiple times for each prop. On one such time, one of

[2019-06-19 21:14] deltakosh commented on #549
Pinging @PatrickRyanMS for guidance

[2019-06-19 21:22] PatrickRyanMS commented on #549
@BaldSavant is there any way you can share your source file? It would be easiest to debug if we could look at your exact source to see if there is anything specific to your file that may be making the export fail to write the accurate data.

From what I am reading you have three meshes that have node animation on them mixed with different meshes with skinned animation and you are only experiencing

[2019-06-19 21:45] BaldSavant commented on #549
That's an accurate summation. I figured you'd ask to see the file, so I've asked my bosses if it's ok to share, but I'll have to wait til I hear back. Hopefully won't take too long, but they're off on a business trip.

[2019-06-19 22:06] PatrickRyanMS commented on #549
That was my assumption and tells me there is something specific to that node that we are having some difficulty with on export. Please take whatever precautions you need with the privacy around the model including NDAs and we are happy to do what we need to unblock you.

[2019-06-20 11:35] sebavan opened #550 "Exporter Installer Neats"
I can still experience the UI overlap:
![image](https://user-images.githubusercontent.com/16655165/59846398-0b76f680-9360-11e9-9244-126b71eb46e7.png)

and also the update button is still visible after install:
![image](https://user-images.githubusercontent.com/16655165/59846430-277a9800-9360-11e9-87e2-05efe08ed43b.png)

Both pictures have screen shoted after update.

[2019-06-20 12:12] Jaskar commented on #550
1601 is for file not found. I fixed it -> Maya2Babylon.nll.dll instead of Maya2babylon.dll. My bad.
PR is coming !

[2019-06-20 12:40] Jaskar commented on #550
https://github.com/BabylonJS/Exporters/pull/551

[2019-06-20 15:24] sebavan commented on #550
Thanks

[2019-06-20 15:24] #550 closed

[2019-06-20 17:00] BaldSavant commented on #549
Ok, so we can't release the file currently, but what I CAN do is send you a version of the file with just the props. That's where the problem is anyway, so hopefully that'll do just fine.

https://drive.google.com/open?id=1DDrzVlvDddi9_G0UNvMSTfx_zRG2Vvh5

I've tested the export and I still get the same scale issues with the prop. If you open the file, clip 023b is the one where it should be appea

[2019-06-20 21:09] PatrickRyanMS commented on #549
@BaldSavant, thank you for sharing this asset with us as it was instrumental in identifying the issue quickly. We know what is going on and it is an issue with the exporter. We have a plan for a fix and should be able to have a new version of the exporter up quickly. I can't stress enough how helpful seeing the actual file was as we can't always predict how a file is built and that can elongate th

[2019-06-20 21:36] BaldSavant commented on #549
Happy to help! Do you have an ETA for when I might see a fix? We've got a project on hold until this export can happen.

[2019-06-20 21:45] PatrickRyanMS commented on #549
@Drigax, who is the owner of the exporter code, is out of the office today but should be back in tomorrow. Barring any major complications, I assume we should be able to have a fix tomorrow but I can't truly speak for @Drigax. This will be our highest priority in the morning and we'll report back with an update asap tomorrow.

[2019-06-21 18:06] Drigax commented on #549
Thanks for looking into this @PatrickRyanMS. This definitely helped me pinpoint where to look at in our animation export code. I'm taking a look at this right now.

[2019-06-21 23:41] Drigax commented on #549
Looks like we're over-optimizing the animation data, and aren't respecting the "Bake Animations" flag.
In our GLTF exporter we do a pass to remove unnecessary animation keys, and leave the first and last and other significant keyframes for the animation frames included in the group:

https://github.com/BabylonJS/Exporters/blob/15f442f9689a975d49e2f4a3f9cec4d766274e83/Maya/Exporter/BabylonExporter.

[2019-06-22 01:32] #549 closed

[2019-06-24 19:35] BaldSavant opened #553 "unable to view/use gltf file after export"
The last few days my test exports haven't been launching in the babylon sandbox viewer and I'm unclear of why.

![Capture_babylonError3](https://user-images.githubusercontent.com/17505845/60045728-679c8c00-967a-11e9-8358-5eb1be0a5c61.png)

I get this error saying that the web viewer failed to load. I've also gotten an error in the web viewer referring to a specific texture file, though that error

[2019-06-24 19:48] sebavan commented on #553
Hello,

Looking into it now we should have a fix soon, it looks like a regression to me.

[2019-06-24 21:06] sebavan commented on #553
@BaldSavant, I have just tried the latest version of the maya exporter : https://github.com/BabylonJS/Exporters/releases/tag/preRelease20190622.4 on maya 2019 with the following setup:
![image](https://user-images.githubusercontent.com/16655165/60051952-74e66480-96d4-11e9-9c89-9cdfc28b90e3.png)

I presses export and run and I can not see any error:
![image](https://user-images.githubusercontent.co

[2019-06-24 21:36] BaldSavant commented on #553
Mostly identical, though a few differences:

I'm using Maya 2018, for one. Beyond that I'm using "export selected only". Lastly, my version of babylon exporter doesn't have that bottom row of options (I assume because you're on 1.4 and the link you sent is 1.3, so you're probably beta or whatever).

Those things strike me as minor, but maybe they'll be significant to you somehow?

[2019-06-25 02:16] sebavan commented on #553
Yup some of the fixes might only be available in 1.4, could you try it out and let us know ?

Thanks a lot in advance.

[2019-06-25 20:04] BaldSavant commented on #553
So I updated my babylon exporter and even went ahead and updated to Maya 2019 as well and what I'm getting is still this (though I DID get a screengrab of the texture error, so that's convenient):

![Capture_babylonError4](https://user-images.githubusercontent.com/17505845/60129354-a77e7480-9749-11e9-8534-11c68e03e7d8.png)

So still no luck, even with 1.4 and maya 2019

[2019-06-25 20:12] sebavan commented on #553
@BaldSavant Could you share with me a screenshot of your export config ? I am unfortunately unable despite quite a lot of different tests ?

[2019-06-25 21:52] BaldSavant commented on #553
Conveniently, I had left the window running, so this is exactly the exporter I used to make the previous image

![Capture_babylonError5](https://user-images.githubusercontent.com/17505845/60136262-8e30f480-9758-11e9-8d63-39a785d390f9.png)

[2019-06-25 22:53] sebavan commented on #553
Great and what is selected at export time ? that is the main difference I can spot for me I unselected this box.

[2019-06-25 22:59] BaldSavant commented on #553
So I can't show you an image, of course, but it's a set of meshes and groups. The character mesh is a number of separate pieces all grouped under an overall character geo node. Each of the props are a single piece of geo which has an empty group above them for rigging/animation purposes (same reason the character meshes are all grouped under a node together). The objects which are selected during

[2019-06-25 23:11] sebavan commented on #553
Could you try to uncheck the Export Only Selected just to confirm this at least works for you ?

[2019-06-25 23:16] BaldSavant commented on #553
Ok, so one interesting problem with my situation here is that I'm trying to export 8000 frames of animation, which takes roughly 2 hours. That's why I'm using Export Selected, because I want only the minimum to keep the time down (not that I imagine it would add more time, admittedly).

All that to say that I can try it, but I won't know the result until tomorrow.

[2019-06-26 00:16] sebavan commented on #553
Else do you think you could create a smaller repro as you did last time ?

This would be the easiest way to troubleshoot.

[2019-06-26 00:50] dpalacio opened #554 "3ds Max 2017: How to handle multiple Skin modifiers, single bone tree"
When two objects have been rigged to the very same bones and then the document is exported to glTF2, should a common skin be made for every skin modifier? My usecase is a set of meshes rigged to a human skeleton but I can't show that here so here are some teapots:
![3dsmax_bYvZwMMV94](https://user-images.githubusercontent.com/12900/60142985-dc0e2280-9781-11e9-8621-0647ad6d96f8.png)
[glftTest2.zip]

[2019-06-26 00:57] dpalacio commented on #554
Similar issue KhronosGroup/glTF-Blender-IO#566 where in Blender, skins are more clearly defined but still multiple copies of the skin are made in the exported document.

[2019-06-26 11:22] sebavan commented on #554
Ping @bghgary

[2019-06-26 16:15] BaldSavant commented on #553
Did the full export and have the same issue even with Export Only Selected turned off.

[2019-06-26 17:29] Drigax commented on #553
@BaldSavant I ran into this issue the other day accidentally. Hopefully I can chime in with something useful.

Your error message looks like the sandbox is trying to access a texture referenced by the gltf that isn't found. Can you see what happens if you load a PNG with the expected name alongside the gltf?

@deltakosh, is this correct behavior? I would have assumed that if a texture is not found

[2019-06-26 17:34] sebavan commented on #553
The behaviour is correct when the texture is not found my issue is why is it not found, not exported or not accessible ?

@BaldSavant could you check if it is exported at least in your destination folder ?

[2019-06-26 17:39] BaldSavant commented on #553
@sebavan So it does generate a file by that name into my destination folder. The file is predictably identical to the props texture it's sort of named after.

@Drigax If I grab both the gltf and the jpg and drag them into the sandbox together, I just get the "failed to load" error instead of the texture-specific error. (the same error as in the first post of this thread)

[2019-06-26 20:45] sebavan commented on #553
@BaldSavant  you also need to drag the bin file associated.

It looks like the server does not find the file for some reason. I wonder if you have spaces or other special characters in the generated path.

[2019-06-26 21:05] BaldSavant commented on #553
Ah. So you do. I now get a new, exciting error:

"Failed to execute 'open' on 'XMLHttpRequest': Invalid URL"

That's when I drag the .gltf .jpg and .bin files all together into the sandbox viewer.